/* =======================================================================
    Server Module Styles
======================================================================= */

md-toolbar.md-navConsole-theme-theme:not(.md-menu-toolbar) md-icon {
    color: #EF6C00 !important;
}

.md-toolbar-tools {
    font-size: 15px;
    text-transform: uppercase !important;
    letter-spacing: 0.005em;
    font-weight: 400;
}

a.md-button.md-navConsole-theme-theme.selectionCmd {
    margin: 20px 0 !important;
    padding: 3px 15px 3px 15px;
    min-width: 100px;
    background-color: #4527A0;
    color: yellow !important;
    text-transform: uppercase !important;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}

.selectionCmdDefault {
    color: #4527A0 !important;
}

.md-icon.selectionCmd {
    color: #EF6C00 !important;
}

a.md-button.md-navConsole-theme-theme.md-primary:active, a.md-button.md-navConsole-theme-theme.md-primary:focus, a.md-button.md-navConsole-theme-theme.md-primary:hover {
    background-color: #4527A0;
    color: white !important;
    transition: 0.5s;
    margin: 20px 0 !important;
    padding: 3px 15px 3px 15px;
    min-width: 100px;
}
a.md-button.md-navConsole-theme-theme.md-primary:active md-icon, a.md-button.md-navConsole-theme-theme.md-primary:focus md-icon, a.md-button.md-navConsole-theme-theme.md-primary:hover md-icon {
    color: #EF6C00 !important;
    transition: 0.5s;
    margin: 20px 0 !important;
    padding: 3px 15px 3px 15px;
    min-width: 100px;
}
a.md-button.md-navConsole-theme-theme.md-primary.md-raised, a.md-button.md-navConsole-theme-theme.md-primary.md-fab, .md-button.md-navConsole-theme-theme.md-primary.md-raised, .md-button.md-navConsole-theme-theme.md-primary.md-fab {
    min-width: 50px;
}
.md-navConsole-theme-theme.md-toolbar-tools a {
    margin: 20px 0 !important;
    padding: 3px 15px 3px 15px;
}
.gridTitleHeader {
    background: rgba(0,0,0, 0.60);
    margin: 0;
    white-space: normal !important;
}
.gridContent {
    margin: 0;
    overflow: hidden;
    white-space: normal !important;
}
.gridListServer .imgGrid {
    background: url("/src/client/images/img_server.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.gridListServer .fondGrid {
    width: 100% !important;
    height: 100% !important;
    padding-top: 34px;
    overflow: hidden;
}
.gridListServer .gray {
    background: #f5f5f5; }
.gridListServer .green {
    background: #b9f6ca; }
.gridListServer .yellow {
    background: #ffff8d; }
.gridListServer .blue {
    background: #84ffff; }
.gridListServer .darkBlue {
    background: #80d8ff; }
.gridListServer .deepBlue {
    background: #448aff; }
.gridListServer .purple {
    background: #b388ff; }
.gridListServer .lightPurple {
    background: #8c9eff; }
.gridListServer .red {
    background: #ff8a80; }
.gridListServer .pink {
    background: #ff80ab; }
.gridListServer .orange {
    background: #ffa91e; }
.gridListServer .lightGreen {
    background: #dfffc3; }

.gridListServer md-grid-tile {
    text-transform: uppercase;
    transition: all 400ms ease-out 50ms;
}
.gridListServer .colorBlack {
    color: black !important;
    text-align: left !important;
    text-transform: none !important;
    margin: 0;
    padding: 0;
}
.gridListServer .colorWhite {
    color: white !important;
    text-shadow: 1px 1px #555;
    text-transform: none !important;
    margin: 0;
    padding: 0;
}
.gridListServer .md-text-content {
    font-weight: 400;
    letter-spacing: 0 !important;
    line-height: 14px;
    white-space: normal !important;
}
.gridListServer .md-title {
    font-weight: 500;
    letter-spacing: 0.005em;
    white-space: normal !important;
}

@media screen and (max-width: 960px) {
    .gridListServer .md-title {
        font-size: 10px;
        white-space: normal !important;
    }
    .gridListServer .md-text-content {
        font-size: 10px;
        white-space: normal !important;
    }
    .gridListServer .colorWhite {
        font-size: 12px !important;
    }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .gridListServer .md-title {
        font-size: 10px;
        white-space: normal !important;
    }
    .gridListServer .md-text-content {
        font-size: 10px;
        white-space: normal !important;
    }
    .gridListServer .colorWhite {
        font-size: 12px !important;
    }
}
@media screen and (min-width: 1280px) {
    .gridListServer .md-title {
        font-size: 12px;
        white-space: normal !important;
    }
    .gridListServer .md-text-content {
        font-size: 12px;
        white-space: normal !important;
    }
    .gridListServer .colorWhite {
        font-size: 16px !important;
    }
}
