<div md-theme="core-theme" layout-fill ng-cloak>

    <md-tabs layout-fill class="md-accent" md-selected="datas.selectedIndex"
             md-align-tabs="{{datas.bottom ? 'bottom' : 'top'}}">
        <!--ng-style="{'visibility': isOpenLeft?'visible':'hidden'}"-->

        <div class="md-toolbar-tools md-primary md-hue-2">
            <md-tab id="tab1" ng-disabled="datas.overviewLocked" ng-click="toggleLeft()" ng-hide="isOpenLeft()">

                <md-tab-label class="md-primary">
                    <md-tooltip md-direction="bottom">
                        Menu
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary">{{datas.menuIcon}}</md-icon>
                    <label hide-sm>
                        {{datas.menuLabel}}
                    </label>
                </md-tab-label>

            </md-tab>
        </div>

        <md-tab id="tab2" ng-disabled="datas.overviewLocked">

                <md-tab-label class="md-primary">
                    <md-tooltip md-direction="bottom">
                        Overview
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary">{{datas.overviewIcon}}</md-icon>
                    <label hide-sm>
                        {{datas.overviewLabel}}
                    </label>
                </md-tab-label>

                <md-tab-body ng-show="tab==2">
                    <dir-overview-template></dir-overview-template>
                </md-tab-body>

        </md-tab>


        <md-tab id="tab3" ng-disabled="datas.adminLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Admin
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.adminIcon}}</md-icon>
                <label hide-sm>
                    {{ datas.adminLabel }}
                </label>
            </md-tab-label>
            <md-tab-body ng-show="tab==3">
                <dir-operation-template></dir-operation-template>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab4" ng-disabled="datas.monitorLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Monitor
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.monitorIcon}}</md-icon>
                <label hide-sm>
                    {{datas.monitorLabel}}
                </label>
            </md-tab-label>
            <md-tab-body ng-show="tab==4">
                <dir-monitor-template></dir-monitor-template>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab5" ng-disabled="datas.configLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Config
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.configIcon}}</md-icon>
                <label hide-sm>
                    {{datas.configLabel}}
                </label>
            </md-tab-label>
            <md-tab-body ng-show="tab==5">
                <dir-config-template></dir-config-template>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab6" ng-disabled="datas.logLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Log
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.logIcon}}</md-icon>
                <label hide-sm>
                    {{datas.logLabel}}
                </label>
            </md-tab-label>
            <md-tab-body ng-show="tab==6">
                <dir-log-template></dir-log-template>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab7" ng-disabled="datas.flowLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Flow
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.flowIcon}}</md-icon>
                <label hide-sm>
                    {{datas.flowLabel}}
                </label>
            </md-tab-label>
            <md-tab-body ng-show="tab==7">
                <dir-flow-template></dir-flow-template>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab8" ng-disabled="datas.userLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    User
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.userIcon}}</md-icon>
                <label hide-sm>
                    {{datas.userLabel}}
                </label>
            </md-tab-label>
            <md-tab-body ng-show="tab==8">
                <dir-user-template></dir-user-template>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>