<md-content md-theme="core-theme">
    <md-tabs class="" md-selected="datas.selectedIndex"
             md-align-tabs="{{datas.bottom ? 'bottom' : 'top'}}">


        <md-tab id="tab1" ng-disabled="datas.overviewLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Overview
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.overviewIcon}}</md-icon>
                {{datas.overviewLabel}}
            </md-tab-label>
            <md-tab-body ng-show="tab==1">
                <div ng-include="'modules/core/views/overview.template.html'"></div>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab2" ng-disabled="datas.adminLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Admin
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.adminIcon}}</md-icon>
                {{datas.adminLabel}}
            </md-tab-label>
            <md-tab-body ng-show="tab==2">
                <div ng-include="'modules/core/views/admin.template.html'"></div>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab3" ng-disabled="datas.monitorLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Monitor
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.monitorIcon}}</md-icon>
                {{datas.monitorLabel}}
            </md-tab-label>
            <md-tab-body ng-show="tab==3">
                <div ng-include="'modules/core/views/monitor.template.html'"></div>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab4" ng-disabled="datas.configLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Config
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.configIcon}}</md-icon>
                {{datas.configLabel}}
            </md-tab-label>
            <md-tab-body ng-show="tab==4">
                <div ng-include="'modules/core/views/configuration.template.html'"></div>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab5" ng-disabled="datas.logLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Log
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.logIcon}}</md-icon>
                {{datas.logLabel}}
            </md-tab-label>
            <md-tab-body ng-show="tab==5">
                <div ng-include="'modules/core/views/log.template.html'"></div>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab6" ng-disabled="datas.flowLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    Flow
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.flowIcon}}</md-icon>
                {{datas.flowLabel}}
            </md-tab-label>
            <md-tab-body ng-show="tab==6">
                <div ng-include="'modules/core/views/flow.template.html'"></div>
            </md-tab-body>
        </md-tab>


        <md-tab id="tab7" ng-disabled="datas.userLocked">
            <md-tab-label>
                <md-tooltip md-direction="bottom">
                    User
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">{{datas.userIcon}}</md-icon>
                {{datas.userLabel}}
            </md-tab-label>
            <md-tab-body ng-show="tab==7">
                <div ng-include="'modules/core/views/user.template.html'"></div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
