<div ng-controller="treeCtrl as myCtrl">

    <div class="tab-pane">
        <!--<p class="text-right">You are in: <code>{{expanding_property.displayName}}</code></p>-->
        <div class="tabs-nav">
            <div>
                <a>{{expanding_property.displayName}} <span class="caret"></span></a>
            </div>
            <div class="input-group" ng-class="{active: models.activeTab === 'OutSide' || !models.activeTab}">
                <input type="text" class="form-control text-color-black" ng-model="_filter.title"
                       placeholder=" Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
            </div>
        </div>

		<!-- A dynamic template to build a tree with AngularJS -->
		<script type="text/ng-template" id="my-tmpl">
			<a href="">{{ node.name }}</a>
   		 	<ul>
        		<li ng-repeat="node in node.children" ng-include="'my-tmpl'"></li>
    		</ul>
		</script>

		<ul>
        	<li ng-repeat="node in rootNodes" ng-include="'my-tmpl'"></li>
        </ul>
        
        <!-- 
        <tree-dnd class="tree-dnd dnd dnd-hover b-b b-light"
                  tree-data="tree_data"
                  tree-class="table"
                  callbacks="callbacks"
                  tree-control="my_tree"
                  primary-key="parentId"
                  column-defs=""
                  filter="_filter"
                  expand-on="title"
                  on-select="select_handler(node)"
                  on-click="click_handler(node)"
                  expand-level="5"
                  icon-leaf="none"
                  icon-expand="glyphicon glyphicon-chevron-down"
                  icon-collapse="glyphicon glyphicon-chevron-right"
                  template-url="tree-dnd-template.html"
                >

            <table ng-class="$tree_class" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>
                        {{col.displayName}}
                    </th>
                </tr>
                </thead>

                <tbody class="tree-dnd-nodes" tree-dnd-nodes="tree_nodes">

                <tr class="ng-animate tree-dnd-node"
                    tree-dnd-node="node"
                    ng-repeat="node in tree_nodes track by node.__hashKey__ | filter:_filter.title"
                    ng-show="node.__visible__"
                    ng-class="(node.__selected__ ? ' active':'')"
                    ng-click="onSelect(node)"
                        >
                    <td class="v-middle"
                        ng-if="!expandingProperty.template"
                        ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__)}"
                        ng-class="expandingProperty.cellClass"
                        compile="expandingProperty.cellTemplate">
                        <a data-nodrag="" class="colorLinkTree active" ng-repeat="title in node.title">
                            <i ng-class="$icon_class"
                               ng-click="toggleExpand(node)"
                               class="tree-icon glyphicon glyphicon-chevron-right">
                            </i>

                            <!--{{node[expandingProperty.field]}}{{node[expandingProperty]}}-->
                            <!--{{node.title[0].name}}-->
<!-- 
                                {{title.name}}

                        </a>
                    </td>
                </tr>
                </tbody>


            </table>

        </tree-dnd>
        
         -->

    </div>

</div>