<md-content ng-init="bus">
    <div ng-switch="template">
        <md-content ng-switch-when="bus">
            <dir-bus-unique-up></dir-bus-unique-up>
        </md-content>
        <md-content ng-switch-when="node">
            <dir-node-unique-up></dir-node-unique-up>
        </md-content>
        <md-content ng-switch-when="component">
            <dir-component-unique-up></dir-component-unique-up>
        </md-content>
        <md-content ng-switch-when="su">
            <dir-serviceunit-unique-up></dir-serviceunit-unique-up>
        </md-content>
        <md-content ng-switch-when="service">
            <dir-service-unique-up></dir-service-unique-up>
        </md-content>
    </div>
</md-content>

<!--<div class="md-padding">
    <h3>You are in page <code>Configuration</code></h3>
</div>-->