<md-content ng-init="bus">
    <div ng-switch="template">
        <md-content ng-switch-when="bus">
            <div ng-include="'modules/buses/views/configuration-edit-bus.html'"></div>
        </md-content>
        <md-content ng-switch-when="node">
            <div ng-include="'modules/nodes/views/configuration-edit-node.html'"></div>
        </md-content>
        <md-content ng-switch-when="component">
            <div ng-include="'modules/components/views/configuration-edit-component.html'"></div>
        </md-content>
        <md-content ng-switch-when="su">
            <div ng-include="'modules/serviceunits/views/configuration-edit-su.html'"></div>
        </md-content>
        <md-content ng-switch-when="service">
            <div ng-include="'modules/services/views/configuration-edit-service.html'"></div>
        </md-content>
    </div>
</md-content>

<!--<div class="md-padding">
    <h3>You are in page <code>Configuration</code></h3>
</div>-->