<!-- TEST
<div data-ng-controller="ContactFormController as cf" flex layout="row" layout-align="center center">
    <div flex-sm="100" flex-gt-sm="90" flex-gt-sm="70" flex-gt-lg="50"
         class="md-whiteframe-z2">
        <md-content class="md-padding">

            <form name="contactForm" data-ng-submit="cf.sendMail()">
                <md-input-container>
                    <label> Name:</label> <input type="text" data-ng-model="cf.contactName">
                </md-input-container>
                <md-input-container>
                    <label> Email:</label> <input type="email" data-ng-model="cf.contactEmail">
                </md-input-container>
                <md-input-container>
                    <label> Message:</label> <textarea data-ng-model="cf.contactMsg" columns="1" required></textarea>
                </md-input-container>
                <md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1' :
                (contactForm.$dirty && contactForm.$valid)}">Send
                </md-button>
            </form>
        </md-content>
    </div>
</div>-->
