<section ng-controller="HeaderController" md-theme="core-theme" flex ng-cloak>

<!--    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
                Dashboard
            </h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <md-icon class="material-icons md-24 md-accent" aria-label="config">more_vert
                </md-icon>
            </md-button>
            <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <md-icon class="material-icons md-24 md-accent" aria-label="config">more_vert
                </md-icon>

            </md-button>
        </div>
        <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
            <md-tab id="tab1" aria-controls="tab1-content">
                Latest
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content">
                Favorites
            </md-tab>
        </md-tabs>
    </md-toolbar>-->


    <md-toolbar class="md-primary">

        <!-- When User is Logged -->
        <div class="md-toolbar-tools md-primary md-hue-2" data-ng-show="authentication.user"
             data-ng-controller="HeaderConfigNavCtrl">
            <a href="/#!/">
                <md-tooltip md-direction="right">
                    Take The Control !
                </md-tooltip>
                <h1 class="md-toolbar-tools"><strong>Petals COCKPIT</strong></h1>
            </a>

            <div flex></div>

            <md-menu md-position-mode="target-right target">
                <md-button class="md-accent" aria-label="Open Config Menu"
                           ng-click="$mdOpenMenu($event)">
                    <md-tooltip md-direction="bottom">
                        User Logged
                    </md-tooltip>
                    <md-icon md-menu-origin class="material-icons md-24 md-accent" aria-label="User">person
                    </md-icon>
                    <span data-ng-bind="authentication.user.displayName"></span> <i
                        class="zmdi zmdi-caret-down"></i>
                </md-button>


                <md-menu-content width="3" class="md-whiteframe-8dp">
                    <md-menu-item>
                        <md-button class="md-raised md-cornered"
                                   aria-label="Edit Profile">
                            <a href="/#!/settings/profile" class="btnLink">
                                <div layout="row">
                                    <p flex>Edit Profile </p>
                                    <md-icon md-menu-align-target class="md-accent"
                                             aria-label="edite profile">edit
                                    </md-icon>
                                </div>
                            </a>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu md-position-mode="target-right target">
                <md-button class="md-icon-button md-accent" aria-label="Open Config Menu"
                           ng-click="$mdOpenMenu($event)">
                    <md-tooltip md-direction="bottom">
                        Menu Config
                    </md-tooltip>
                    <md-icon md-menu-origin class="material-icons md-36 md-accent" aria-label="Open Menu">more_vert
                    </md-icon>
                </md-button>

                <md-menu-content width="2" class="md-whiteframe-8dp">
                    <md-menu-item>
                        <md-button class="md-raised md-cornered"
                                   aria-label="List Users">
                            <a href="/#!/users" class="btnLink">
                                <div layout="row">
                                    <p flex>List Users </p>
                                    <md-icon md-menu-align-target class="md-accent"
                                             aria-label="list users">group
                                    </md-icon>
                                </div>
                            </a>
                        </md-button>
                    </md-menu-item>

                    <!--<md-menu-divider></md-menu-divider>-->

                    <md-menu-item>
                        <md-button class="md-raised md-cornered"
                                   aria-label="Signout">
                            <a href="/auth/signout" class="btnLink">
                                <div layout="row">
                                    <p flex>Log Out </p>
                                    <md-icon md-menu-align-target class="md-accent"
                                             aria-label="signout">power_settings_new
                                    </md-icon>
                                </div>
                            </a>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item data-ng-hide="authentication.user">
                        <md-button class="md-raised md-cornered"
                                   aria-label="Signin">
                            <a href="/auth/signin" class="btnLink">
                                <div layout="row">
                                    <p flex>Login </p>
                                    <md-icon md-menu-align-target class="md-accent"
                                             aria-label="signin">power_settings_new
                                    </md-icon>
                                </div>
                            </a>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

    </md-toolbar>

</section>