<section data-ng-controller="HomeController">
<!--    <div class="row contentBandeau">
        <h5 class="page-header bandeauPrototype"><p>>|< Prototype Version 0.0.1 - Qantum Leap</p></h5>
    </div>-->
    <br><br>
    <div class="protoNav">

        <md-fab-toolbar md-open="demo.isOpen" count="demo.count" ng-class="demo.selectedAlignment">
            <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                    <md-button class="md-accent md-raised md-hue-1">
                        Prototype - Version 0.0.1
                    </md-button>
                    <i class="material-icons md-24">face</i>
                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar>
    </div>
    <div class="col-sm-4 col-md-4 col_content_tree">
        <div class="">
            <dir-component-tree components="component"></dir-component-tree>
        </div>
    </div>
    <div class="col-sm-8 col-md-8 col_content_console">
        <div class="">
            <dir-component-display components="component"></dir-component-display>
        </div>
    </div>
</section>