<section ng-controller="HeaderController">
    <div layout="row" layout-wrap data-ng-controller="HomeController">

        <div flex-sm="50" ng-controller="MenuProdCtrl" md-theme="core-theme">
            <div layout-align="center">
                <md-content>
                    <md-tooltip md-direction="bottom">
                        Prod
                    </md-tooltip>
                    <md-button class="md-raised md-primary md-hue-1" ng-click="showListMenuProd($event)">
                        <md-icon class="material-icons md-24 md-primary">work</md-icon>
                    </md-button>
                </md-content>
            </div>
            <div ng-if="alert" class="md-padding">
                <b layout="row" layout-align="center center" class="md-padding">
                    {{alert}}
                </b>
            </div>
        </div>

        <div flex-sm="50" md-theme="core-theme">
            <div layout-align="center" class="md-primary md-hue-1">
                <md-content>
                    <md-tooltip md-direction="bottom">
                        Menu
                    </md-tooltip>
                    <md-button ng-click="openLeftMenu()" class="md-raised md-primary md-hue-1">
                        <md-icon class="material-icons md-24 md-primary">navigation</md-icon>
                    </md-button>
                </md-content>
                <md-sidenav md-component-id="left" class="navSideLeft md-whiteframe-z2 md-sidenav-left">
                    <md-toolbar class="md-padding md-primary md-hue-1" layout="row" layout-align="center center">
                        <h3 class="md-primary md-inline-list-icon-label" layout-align="start center">MENU NAVIGATION
                            <md-button ng-click="close()" class="md-primary md-hue-1 material-icons">close
                            </md-button>
                        </h3>

                    </md-toolbar>
                    <dir-component-tree components="component"></dir-component-tree>
                </md-sidenav>
            </div>
        </div>

        <div flex md-theme="core-theme">
            <md-content class="md-primary md-hue-2">
                <dir-component-display components="component"></dir-component-display>
            </md-content>
        </div>

    </div>
</section>