<div data-ng-controller="BusesController as busesCtrl">
    <dir-bus-tree info="busesCtrl.buses"></dir-bus-tree>
</div>

<div data-ng-controller="NodesController as nodesCtrl">
    <dir-node-tree info="nodesCtrl.nodes"></dir-node-tree>
</div>

<div data-ng-controller="ComponentsController as componentsCtrl">
    <dir-compo-tree info="componentsCtrl.components"></dir-compo-tree>
</div>

<div data-ng-controller="ServiceunitsController as serviceunitsCtrl">
    <dir-serviceunit-tree info="serviceunitsCtrl.serviceunits"></dir-serviceunit-tree>
</div>

<div data-ng-controller="ServicesController as servicesCtrl">
    <dir-service-tree info="servicesCtrl.services"></dir-service-tree>
</div>
