<div class="filterable">
    <!--    <h1>DEFAULT OVERVIEW PAGE</h1>-->
    <div data-ng-controller="BusesController as busesCtrl">
        <dir-bus-unique info="busesCtrl.buses"></dir-bus-unique>
    </div>

    <div data-ng-controller="NodesController as nodesCtrl">
        <dir-node-unique info="nodesCtrl.nodes"></dir-node-unique>
    </div>

    <div data-ng-controller="ComponentsController as componentsCtrl">
        <dir-component-unique info="componentsCtrl.components"></dir-component-unique>
    </div>

    <div data-ng-controller="ServiceunitsController as serviceunitsCtrl">
        <dir-serviceunit-unique info="serviceunitsCtrl.serviceunits"></dir-serviceunit-unique>
    </div>

    <!--    <div data-ng-controller="ServicesController as servicesCtrl">
            <dir-service-unique info="servicesCtrl.nodes"></dir-service-unique>
        </div>-->

</div>