<md-content ng-init="bus">
    <div ng-switch="template">
        <md-content ng-switch-when="bus">
            <dir-bus-unique></dir-bus-unique>
        </md-content>
        <md-content ng-switch-when="node">
            <dir-node-unique></dir-node-unique>
        </md-content>
        <md-content ng-switch-when="component">
            <dir-component-unique></dir-component-unique>
        </md-content>
        <md-content ng-switch-when="su">
            <dir-serviceunit-unique></dir-serviceunit-unique>
        </md-content>
        <md-content ng-switch-when="service">
            <dir-service-unique></dir-service-unique>
        </md-content>
    </div>
</md-content>

<!--<div class="md-padding">
    <h3>You are in page <code>Overview</code></h3>
</div>-->
