<md-toolbar md-theme="navConsole-theme" ng-cloak>
    <md-card class="md-toolbar-tools" layout-align="start center">
        <md-button class="md-primary md-raised" ng-click="toggleSidenav('left')"
                   aria-label="Show" ng-controller="SidenavController" hide-gt-md>
            <md-icon class="md-icon-button">{{ dataNavMenu.menuIcon }}</md-icon>
        </md-button>

        <md-button class="selectionCmdDefault" ng-repeat="button in dataNavConsole"
                   ui-sref="{{button.UiSref}}" ui-sref-active="selectionCmd">
            <md-icon class="selectionCmdDefault">{{ button.Icon }}</md-icon>
            <span flex></span>
            <span hide-xs>{{ button.Label }}</span>
        </md-button>
    </md-card>
</md-toolbar>
