<div layout="column" flex md-theme="core-theme">

    <div layout="column">
        <md-toolbar layout="row" class="md-accent toolbarCustom" md-theme="menu-theme">
            <section class="md-toolbar-tools md-primary" layout="row" layout-align="start center" id="menu">

                <md-button class="md-toolbar-tools md-primary" ng-click="toggleSidenav('left')"
                           aria-label="Show" ng-controller="SidenavController" hide-gt-md>
                    <md-icon class="md-icon-button"> menu </md-icon>
                </md-button>

                <md-button class="selectionDefault" ng-repeat="btn in dataNav"
                           ui-sref="{{btn.UiSref}}" ui-sref-active="selection">
                    <span flex></span>
                    <span>{{ btn.Label }}</span>
                </md-button>
            </section>

            <span></span>

            <md-button class="md-toolbar-tools md-primary" aria-label="Selection">
                Selection: {{infoSelected.value}}
            </md-button>



        </md-toolbar>

    </div>

    <div layout="row" layout-fill flex>
        <tmpl-sidenav layout="column" layout-align="space-around stretch"></tmpl-sidenav>
        <div layout="column" layout-fill flex style="z-index: 1">
            <md-card layout="row" ng-show="$state.includes('workspace.petals')" ui-view="petals-nav-console"></md-card>
            <md-card layout="column" layout-align="start stretch"
                     ng-show="$state.includes('workspace.petals')"
                     ui-view="petals-console">
            </md-card>

            <md-card layout="row" ng-show="$state.includes('workspace.service')" ui-view="service-nav-console"></md-card>
            <md-card ng-show="$state.includes('workspace.service')" ui-view="service-console"></md-card>

            <md-card layout="row" ng-show="$state.includes('workspace.api')" ui-view="api-nav-console"></md-card>
            <md-card ng-show="$state.includes('workspace.api')" ui-view="api-console"></md-card>
        </div>
    </div>

</div>
