/* =======================================================================
    Workspace Module Styles
======================================================================= */
body {
    height: auto !important;
}

.toolbarCustom {
    z-index: 1;
    padding-top: 60px;
}

.navCustom {
    z-index: 1;
}

.selectionDefault {
    color: white !important;
}

.md-button.selection {
    margin: 20px 0 !important;
    padding: 3px 15px 3px 15px;
    min-width:100px;
    color: yellow !important;
    background-color: rgba(0, 0, 0, 0.50);
    text-transform: uppercase !important;
}
