/* =======================================================================
    Workspace Module Styles
======================================================================= */

.backgroundWrkspce {
    background-color: #222;
}



md-toolbar.md-core-theme-theme:not(.md-menu-toolbar) md-icon {
    color: rgba(69, 39, 160, 1);
    fill: rgba(69, 39, 160, 1);
}

md-toolbar.md-core-theme-theme:not(.md-menu-toolbar) md-icon.iconMenuColorWhite {
    color: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
}

.navBar {
    z-index: 10;
    padding-top: 60px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

a.md-button.md-navConsole-theme-theme.selectionMenu {
    width: 100%;
    height: 100%;
    color: #FF6D00 !important;
    text-transform: uppercase !important;
    border-bottom: 1px solid rgba(253, 109, 1, 0.96);
}

.petalsLogoMenu {
    width: 16px;
    height: 16px;
    padding: 0;
    margin-top: 0;
}

.btnLargeMenu {
    width: 100%;
    height: 100%;
    padding: 4px;
    margin: 0;
}
