/* =======================================================================
    Workspace Module Styles
======================================================================= */
body {
    height: 100%;
    overflow: auto;
}

/*.fixHeightworkspace {
    min-height: 100%;
    height: 100%;
    overflow: auto;
}

.fixHeightVertival {
    position: absolute;
    overflow: auto;
}*/

.selectionDefault {
    color: white !important;
}

.md-button.selection {
    margin: 20px 0 !important;
    padding: 3px 15px 3px 15px;
    min-width:100px;
    color: yellow !important;
    background-color: rgba(0, 0, 0, 0.50);
    text-transform: uppercase !important;
}
