<section class="row" data-ng-controller="AuthenticationController" md-theme="user-theme">

    <md-content layout="column" layout-sm="column" layout-align="center center">
        <form name="loginForm" data-ng-submit="signin()">

            <md-input-container class="md-accent md-hue-1" data-ng-show="error">
                <div class="alert alert-danger" role="alert">
                    <h3 data-ng-bind="error"></h3>
                </div>
            </md-input-container>

            <md-input-container class="md-accent md-hue-1" aria-label="Username">
                <label>Username</label>
                <input type="text" id="username" name="username"
                       data-ng-model="credentials.username" placeholder="SuperAdmin" required>
            </md-input-container>

            <md-input-container class="md-accent md-hue-1" aria-label="Password">
                <label>Password</label>
                <input type="password" id="password" name="password"
                       data-ng-model="credentials.password" placeholder="stage2015" required>
            </md-input-container>

            <md-input-container class="md-accent md-hue-1" aria-label="Signin">
                <md-button type="submit" class="md-raised md-accent md-hue-1">Sign in
                    <md-icon class="material-icons md-24 md-accent" aria-label="add">vpn_key</md-icon>
                </md-button>
            </md-input-container>

        </form>
    </md-content>

</section>