<section class="row" data-ng-controller="AuthenticationController">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-form-bg">
        <h3 class="bandeau-login-bg">Sign up</h3>
<!--
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>
	<h3 class="col-md-12 text-center">Or with your email</h3>
-->
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
			    <div class="form-group">
                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="alert alert-danger" role="alert">
                            <strong data-ng-bind="error"></strong>                        
                        </div>
				    </div>
			    </div>
				<div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-star"></i>
                        </span>
					    <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name" required>
                    </div>
				</div>
				<div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-star"></i>
                        </span>
					    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
                    </div>
				</div>
				<div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-envelope"></i>
                        </span>
					    <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
                    </div>
				</div>
				<div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-user"></i>
                        </span>
					    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                    </div>
				</div>
				<div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-asterisk"></i>
                        </span>
					    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                    </div>
				</div>
                </br>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-lg btn-success btn-block">Sign up</button>					
				</div>
				<div class="text-color-white text-center form-group">
				    Or &nbsp; <a href="/#!/signin" class="show-signup">Log in</a>
				</div>
			</fieldset>
		</form>
	</div>
</section>
