<section class="row" data-ng-controller="AuthenticationController">

    <md-toolbar md-theme="core-theme" class="md-primary md-hue-3">
        <div class="md-toolbar-tools" layout-align="center">
            <i class="material-icons md-48 md-primary">vpn_key</i>
        </div>
    </md-toolbar>

    <md-content layout="column" layout-sm="column" layout-align="center center">
        <form name="loginForm" data-ng-submit="signin()">

            <md-input-container class="md-raised md-primary md-hue-1" data-ng-show="error">
                <div class="alert alert-danger" role="alert">
                    <h3 data-ng-bind="error"></h3>
                </div>
            </md-input-container>

            <md-input-container class="md-raised md-primary md-hue-1 md-block" aria-label="Username">
                <label>Username</label>
                <input type="text" id="username" name="username"
                       data-ng-model="credentials.username" placeholder="SuperAdmin" required>
            </md-input-container>

            <md-input-container class="md-raised md-primary md-hue-1 md-block" aria-label="Password">
                <label>Password</label>
                <input type="password" id="password" name="password"
                       data-ng-model="credentials.password" placeholder="stage2015" required>
            </md-input-container>

            <md-input-container class="md-raised md-primary md-hue-1" aria-label="Signin">
                <md-button type="submit" class="md-raised md-primary md-hue-1">Sign in</md-button>
            </md-input-container>

        </form>
    </md-content>

</section>