@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../../lib/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../../../lib/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../../../lib/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../../../lib/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*Rules for sizing the icon*/
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.logoPetals {
    width: 75px;
    top: 0;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
/*    min-height: 400px !important;*/
    height: 100% !important;
}

/*md-tab:not([disabled]):hover {
	background-color: rgba(140, 158, 255, 0.96);
	color: rgba(44, 65, 164, 0.96);
	transition: 0.3s;
}
md-button:not([disabled]):hover {
	background-color: rgba(193, 193, 193, 0.96);
	color: rgba(44, 65, 164, 0.96);
	transition: 0.3s;
}*/
.md-inline-list-icon-label {
    display: inline-block;
    color: #c5cae9;
    vertical-align: middle;
}

.md-list-item, .md-list-item .md-list-item-inner {
    min-height: 48px;
}

.text-color-icon-nav {
    color: #4527a0;
    font-weight: bold;

}
.sideNavCustom {
    height: 100% !important;
}

.fullSize {
    height: 100% !important;
}
.btnNav {
    margin: 0 !important;
    min-height: 10px !important;
    line-height: 10px !important;
    text-transform: none !important;
}

.normal {
    color: white;
    font-weight: normal;
    background-color: #F57C00;

}

.faded {
    color: #111;
    /*	background-color: #f2f2f2;*/
}

.faded:hover{
    color: #F57C00 !important;
}

.navTree {
    padding: 0;
    margin-left: -40px;
}
.margLi {
    margin-left: -20px; !important;
}

.margButtonNav {
    margin-right: 20%;
    top: 30px;
}

.margButtonFloat {
    top: 30px !important;
}

.margButtonMiniFloat {
    top: 35px !important;
}

.paddingToolBar {
    min-height: 100px;
}

.ajustWindow {
    margin-top: -120px;
}

.ajustWindowSignin {
    margin-top: -70px;
}

.sizeToolBar {
    max-height: 0;
}

.md-fab:hover, .md-fab.md-focused {
    /*	background-color: #000 !important;*/
    top: -2px;
}

.btnLink {
    text-decoration:none !important;
}