<div data-ng-controller="BusesController as busesCtrl" ng-cloak>
    <md-toolbar md-theme="overview-theme" class="md-primary md-hue-3">
        <div class="md-toolbar-tools" layout-align="center">Petals List Bus
            <i class="material-icons md-48 md-primary"></i>
        </div>
    </md-toolbar>

    <md-content layout-padding layout="row" layout-sm="column" hide-sm>

        <md-input-container>
            <label>Name</label>
            <input type="text" disabled>
        </md-input-container>

        <md-input-container>
            <label>Version</label>
            <input type="text" disabled>
        </md-input-container>

    </md-content>

    <md-content layout-padding layout="row" layout-sm="column"
                data-ng-repeat="bus in busesList | filter:searchText | orderBy:'-Name'">

        <md-input-container>
            <input type="text" ng-model="bus.name">
        </md-input-container>

        <md-input-container>
            <input type="text" ng-model="bus.version">
        </md-input-container>

        <md-input-container ng-click="busesCtrl.modalUpdate('lg', bus)">
            <dir-up-bus bus="bus"></dir-up-bus>
        </md-input-container>

        <md-input-container>
            <dir-sup-bus bus="bus"></dir-sup-bus>
        </md-input-container>
    </md-content>

    <md-content layout-padding layout="column" layout-sm="column">
        <form name="searchForm">
            <md-input-container class="md-raised md-primary md-hue-1 md-block" aria-label="Search">


                <label for="searchInput">
                    <md-icon class="material-icons md-48 md-primary">search</md-icon>
                </label>

                <input id="searchInput" placeholder="Enter a search term..." type="text" ng-model="searchText"
                       md-autofocus type="text">
            </md-input-container>
            <!--            <div ng-messages="searchForm.searchText.$error">
                            <div ng-message="required">This is a search bar for node list ..</div>
                        </div>-->

        </form>
    </md-content>
</div>