<div data-ng-controller="BusesController as busesCtrl" ng-cloak>

    <md-toolbar class="md-primary" layout="row" layout-align="start start">

        <div layout-padding>
            <div class="md-toolbar-tools" layout-align="center">
                <p>Bus</p>
                <i class="material-icons md-48 md-primary"></i>
            </div>
        </div>

        <div layout-padding>
            <form name="searchForm" layout-padding>

                <md-input-container class="md-primary md-hue-1" aria-label="Search" layout="row"
                                    layout-align="center center">
                    <i class="material-icons md-36 md-primary">search</i>
                    <label for="searchInput"></label>
                    <input id="searchInput" placeholder="Search.." type="text" ng-model="searchText"
                           md-autofocus>
                </md-input-container>

            </form>
        </div>

    </md-toolbar>

    <md-content layout-padding layout="row" layout-sm="column" hide-sm>

        <md-input-container>
            <label>Name</label>
            <input type="text" disabled>
        </md-input-container>

        <md-input-container>
            <label>Version</label>
            <input type="text" disabled>
        </md-input-container>

    </md-content>

    <md-content layout-padding layout="row" layout-sm="column"
                data-ng-repeat="bus in busesList | filter:searchText | orderBy:'-Name'">

        <md-input-container>
            <input type="text" ng-model="bus.name">
        </md-input-container>

        <md-input-container>
            <input type="text" ng-model="bus.version">
        </md-input-container>

        <md-input-container ng-click="busesCtrl.modalUpdate('lg', bus)">
            <dir-up-bus bus="bus"></dir-up-bus>
        </md-input-container>

        <md-input-container>
            <dir-sup-bus bus="bus"></dir-sup-bus>
        </md-input-container>
    </md-content>

</div>