<div data-ng-controller="BusesUpdateController as busUpCtrl" md-theme="bus-theme">
    <md-toolbar class="md-primary md-hue-3">

        <div class="md-toolbar-tools md-primary md-hue-2">
            <a href="/#!/">
                <md-button class="md-icon-button"
                           ng-click="cancel(); answer('not useful');previous()">
                    <md-tooltip md-direction="right">
                        Previous
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary" aria-label="Previous">arrow_back</md-icon>
                </md-button>
            </a>

            <div class="md-toolbar-tools md-primary md-hue-1" layout-align="center">{{sItem.name}}
                <i class="material-icons md-48 md-primary">{{sItem.icon}}</i>
            </div>

            <a href="/#!/">
                <md-button class="md-icon-button"
                           ng-click="cancel(); answer('not useful');next()">
                    <md-tooltip md-direction="left">
                        Next
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary" aria-label="Next">arrow_forward</md-icon>
                </md-button>
            </a>
        </div>


    </md-toolbar>

    <form name="updateBusForm" ng-submit="ok()" novalidate>
        <md-content layout-padding layout="row" layout-sm="column">
            <md-input-container>
                <label>Name</label>
                <input type="text" ng-model="sItem.name" placeholder="Name">
            </md-input-container>

            <md-input-container>
                <label>Version</label>
                <input type="text" ng-model="sItem.version" placeholder="Version">
            </md-input-container>

            <md-button class="md-fab md-mini md-accent md-hue-1" aria-label="Refresh" ng-click="busUpCtrl.update(sItem)">
                <md-tooltip>
                    Update Bus
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">update</md-icon>
            </md-button>

            <md-button data-ng-controller="NodesController as nodesCtrl" class="md-fab md-mini md-accent md-hue-1"
                       aria-label="Update" ng-click="nodesCtrl.modalCreate(createNodeForm)">
                <md-tooltip>
                    Create New Node
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">add</md-icon>
            </md-button>
        </md-content>
    </form>
</div>

<div data-ng-controller="NodesController as nodesCtrl">
    <dir-node-list info="nodesCtrl.nodes" filter="searchText"></dir-node-list>
</div>

<!--    <div class="row">
        <div class="form-group">
            <div data-ng-show="error" class="text-center text-danger">
                <div class="alert alert-danger" role="alert">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div data-ng-show="close" class="text-center text-success">
                <div class="alert alert-success" role="alert">
                    <strong data-ng-bind="close"></strong>
                </div>
            </div>
        </div>

    </div>-->