<section data-ng-controller="BusesCreateController" md-theme="bus-theme" md-whiteframe-32dp>
    <form name="createBusForm">

        <md-toolbar layout="row" class="md-primary md-hue-2">

            <md-button class="md-icon-button md-accent"
                       ng-click="close(); answer('not useful')">
                <md-tooltip md-direction="bottom">
                    Close
                </md-tooltip>
                <md-icon class="material-icons md-24 md-accent" aria-label="Close Dialog">arrow_back</md-icon>
            </md-button>

            <md-button ng-click="addChild(data.bus);create(bus); close(); answer('useful'); openBottomSheet()"
                       class="md-fab md-mini md-accent md-fab-bottom-left margButtonMiniFloat md-whiteframe-z3 md-whiteframe-6dp">
                <md-tooltip md-direction="bottom">
                    Create New Bus
                </md-tooltip>
                <md-icon class="md-accent md-24">done</md-icon>
            </md-button>

            <h1 class="md-toolbar-tools md-primary md-hue-1" layout-align="center center">
                NEW ESB
                <md-button class="md-primary md-accent md-24">
                    <md-tooltip md-direction="bottom">
                        Bus
                    </md-tooltip>
                    <md-icon class="md-24 md-accent" aria-label="add">device_hub</md-icon>
                </md-button>
            </h1>

        </md-toolbar>


        <md-content layout-padding layout="row" layout-sm="column" class="md-accent">

            <md-input-container class="md-accent md-hue-1">
                <label>Name</label>
                <input type="text" data-ng-model="bus.name" placeholder="Name">
            </md-input-container>

            <md-input-container class="md-accent md-hue-1">
                <label>Version</label>
                <input type="text" data-ng-model="bus.version" placeholder="Version">
            </md-input-container>

        </md-content>
    </form>
</section>


<!--


ng-disabled="updateUserForm.$invalid"




    <md-toolbar class="md-primary md-hue-3">

        <div class="md-toolbar-tools md-primary md-hue-2">
            <a href="/#!/">
                <md-button class="md-icon-button"
                           ng-click="cancel(); answer('not useful');">
                    <md-tooltip md-direction="right">
                        Previous
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary" aria-label="Previous">arrow_back</md-icon>
                </md-button>
            </a>

            <md-button class="md-fab md-mini md-accent md-hue-1" aria-label="Create" ng-click="create(); cancel()">
                <md-tooltip>
                    Create New Bus
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">done</md-icon>
            </md-button>

            <h1 class="md-toolbar-tools md-hue-1" layout-align="center">
                NEW ESB
            </h1>
            <md-icon class="material-icons md-24 md-primary" aria-label="add">device_hub</md-icon>

        </div>


    </md-toolbar>-->


<!--    <div class="modal-header">
        <h3 class="modal-title">Create New Bus</h3>
    </div>
    <div class="modal-body">
        <form name="createBusForm" ng-submit="ok()" novalidate>
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div data-ng-show="close" class="text-center text-success">
                            <div class="alert alert-success" role="alert">
                                <strong data-ng-bind="close"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="glyphicon glyphicon-flash cust-profile"></i>
                        <br/><br/>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label" for="version">Version</label>

                            <div class="controls">
                                        <span class="input-group-addon">
                                            <input type="text" data-ng-model="bus.version" required id="version"
                                                   class="form-control">
                                        </span>
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="control-label" for="name">Name</label>

                                <div class="controls">
                                        <span class="input-group-addon">
                                            <input type="text" data-ng-model="bus.name" required id="name"
                                                   class="form-control">
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" ng-click="create(); cancel(); ok()">
            <i class="glyphicon glyphicon-save"></i>
            Save New Bus
        </button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove"></i>
            Close
        </button>
    </div>-->
