<section data-ng-controller="BusesController as busesCtrl" class="backTest">
    <div class="container">
        <div class="page-header text-color-white">
            <h1>Bus</h1>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button type="button" class="btn btn-success text-center"
                    ng-click="busesCtrl.modalCreate('lg',size,createBusForm)">
                <i class="glyphicon glyphicon-plus"></i>
                Create New Bus
            </button>
        </div>
        </br>
        </br>
        <dir-bus-list info="busesCtrl.buses" filter="searchText"></dir-bus-list>
    </div>
</section>