<div class="gridListServer" flex md-theme="cardCustom-theme">

    <md-grid-list
        md-cols-sm="6" md-cols-md="6" md-cols-gt-md="6"
        md-row-height="7:8"
        md-gutter="4px" md-gutter-gt-sm="4px">

        <md-grid-tile ng-repeat="tile in vmServerConfig.tiles"
                      md-rowspan="{{tile.span.row}}"
                      md-colspan="{{tile.span.col}}"
                      md-rowspan-sm="3"
                      md-rowspan-xs="4"
                      md-colspan-sm="2"
                      md-colspan-xs="3"
                      ng-class="tile.background">

            <md-button aria-label="Open Modal Server Config Details" layout="column" class="fondGrid" layout-fill layout-padding ng-click="vmServerConfig.openModalTile(tile)">
                <config-tile tile="tile"></config-tile>
            </md-button>

        </md-grid-tile>
    </md-grid-list>

</div>
