<md-toolbar md-theme="core-theme" class="md-shadow-bottom-z-2" layout="row" ng-if="isAuthenticated()" flex ng-cloak>
    <div class="md-toolbar-tools">
        <md-button ng-click="vm.reloadWorkspace()">
            <img src="src/client/images/petals_cockpit.png" class="logoPetals"/>
            <md-tooltip md-direction="right">
                Take The Control !
            </md-tooltip>
        </md-button>
    </div>

    <div md-theme="sidenav-theme" class="md-toolbar-tools" layout-align="end center" flex-gt-sm flex-lt-md="100">
        <md-button class="md-primary customBtn" aria-label="name user logged" ng-show="isAuthenticated()">
            <md-icon class="material-icons md-primary" aria-label="Logout"
                     md-svg-icon="mdicons:account-circle"></md-icon>
            {{ userData.userId }}
            <md-tooltip md-direction="bottom">You are logged!</md-tooltip>
        </md-button>

        <md-button class="md-primary md-fab md-mini" ng-show="isAuthenticated()" ng-click="vm.logout()">
            <md-icon class="material-icons iconMenuColorWhite" aria-label="Logout"
                     md-svg-icon="mdicons:power"></md-icon>
            <md-tooltip md-direction="bottom">Logout</md-tooltip>
        </md-button>

        <md-button class="md-primary md-fab md-mini" ui-sref="404">
            <md-icon class="material-icons iconMenuColorWhite" aria-label="Open Menu"
                     md-svg-icon="mdicons:dots-vertical"></md-icon>
            <md-tooltip md-direction="bottom">Menu</md-tooltip>
        </md-button>
    </div>
</md-toolbar>

