<md-dialog aria-label="Server Config Details" md-theme="cardCustom-theme" ng-cloak>
    <form name="serverConfigForm" ng-submit="vmModal.onSubmit()" name="vmModal.form" novalidate>

        <md-toolbar class="md-accent md-toolbar-tools gridTitleHeader">
            <md-icon class="material-icons"
                     md-svg-icon="mdicons:border-color">
            </md-icon>
            <span flex></span>
            <h2>{{vmModal.tile.title}}</h2>
            <span flex></span>
        </md-toolbar>

        <md-card layout="column" layout-align="start start" layout-padding>

            <formly-form model="vmModal.tile.model" fields="vmModal.tile.fieldsModal" options="vmModal.tile.options" form="vmModal.tile.form">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="vmModal.tile.form.$invalid">Update
                </md-button>
                <md-button type="button" class="md-raised" ng-click="vmModal.tile.options.resetModel()">Reset</md-button>
            </formly-form>

        </md-card>

    </form>
</md-dialog>
