<div layout="column" ng-cloak>

    <div layout="column">

        <div ng-show="$state.includes('workspace.petals.bus')">
<!--            <div ui-view="busNavConsole@busOverview"></div>
            <div ui-view="busNavConsole@busConfig"></div>-->
        </div>

<!--        <div ng-show="$state.includes('core.workspace.petals.server')">
            <div ui-view="serverNavConsole@serverOverview"></div>
            <div ui-view="serverNavConsole@serverOperation"></div>
            <div ui-view="serverNavConsole@serverConfig"></div>
        </div>-->

    </div>

</div>


