<!--
<div layout="column" ng-cloak>

    <div layout="column">

        <div ng-show="$state.includes('workspace.petals.bus')">
            <div ui-view="busNavConsole@busOverview"></div>
            <div ui-view="busNavConsole@busConfig"></div>
        </div>

        <div ng-show="$state.includes('workspace.petals.server')">
            <div ui-view="serverNavConsole@serverOverview"></div>
            <div ui-view="serverNavConsole@serverOperation"></div>
            <div ui-view="serverNavConsole@serverConfig"></div>
        </div>

        <div ng-show="$state.includes('workspace.petals.component')">
            <div ui-view="componentNavConsole@componentOverview"></div>
            <div ui-view="componentNavConsole@componentConfig"></div>
        </div>

        <div ng-show="$state.includes('workspace.petals.su')">
            <div ui-view="suNavConsole@suOverview"></div>
            <div ui-view="suNavConsole@suConfig"></div>
        </div>

    </div>

</div>

-->

