/* =======================================================================
    Layout Module Styles
======================================================================= */

/* ====================
    Appbar
====================*/
.logoPetals {
    height: 52px;
    width: 52px;
    padding-top: 10px;

}
.appbarTemp {
    z-index: 61;
    position: fixed;
    width: 100%;
}

/* ====================
    Sidenav
====================*/
md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed,
md-sidenav.md-locked-open.md-closed.md-sidenav-left,
md-sidenav.md-locked-open.md-closed,
md-sidenav.md-locked-open.md-closed.md-sidenav-right,
md-sidenav.md-locked-open-remove.md-closed {
    padding-top: 0 !important;
    background: rgba(229, 222, 249, 1) !important;
}


@media screen and (max-width: 960px) {
    md-sidenav {
        padding-top: 5px;
        margin-top: 108px;
        width: 350px !important;
        min-width: 350px !important;
        max-width: 350px !important;
        z-index: 59;
        background: rgba(229, 222, 249, 1) !important;
    }
    md-backdrop.md-sidenav-backdrop {
        margin-top: 108px;
    }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
    md-sidenav {
        padding-top: 5px;
        margin-top: 124px;
        width: 350px !important;
        min-width: 350px !important;
        max-width: 350px !important;
        z-index: 59;
        background: rgba(229, 222, 249, 1) !important;
    }
    md-backdrop.md-sidenav-backdrop {
        margin-top: 124px;
    }
}
@media screen and (min-width: 1280px) {
    md-sidenav.md-locked-open {
        width: 350px !important;
        min-width: 350px !important;
        max-width: 350px !important;
        margin-top: 0;
        background: rgba(229, 222, 249, 1) !important;
    }
}
.md-cardCustom-theme-theme md-input-container .md-errors-spacer {
    float: right;
    min-height: 0 !important;
    min-width: 1px;
}
md-dialog.md-cardCustom-theme-theme {
    border-radius: 4px;
    background-color: rgb(205,221,221);
}
