/* =======================================================================
    Layout Module Styles
======================================================================= */

/* ====================
    Appbar
====================*/
.cockpit {
    display: inline-block;
    padding: 2px;
    color: #311B92 !important;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #311b92, 0 0 70px #311b92, 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.cockpit :hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #311b92, 0 0 70px #311b92, 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

/* ====================
    Sidenav
====================*/
md-sidenav.md-locked-open {
    width: 350px !important;
    min-width: 350px !important;
    max-width: 350px !important;
}
