<md-content md-theme="core-theme" layout="column" layout-padding layout-align="end center"
            id="backgroundLogin" class="imgTag" flex>

    <div id="box" class="dividerCube md-shadow-bottom-z-2">

        <form name="loginForm" role="form" ng-submit="vm.login(credentials)">

            <md-card layout="column" layout-align="center center" style="background-color: #27282C; color: white;">

                <md-card-title>
                    <md-card-title-text layout-align="center center">
                        <md-icon class="material-icons md-icon-button md-accent" aria-label="Connexion User"
                                 md-svg-icon="mdicons:account-box"></md-icon>

                        <span class="md-headline">Sign In</span>
                        <span class="md-subhead">Sign in with your username & password :</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content style="background-color: #fff; color: black">

                    <md-input-container class="md-block md-accent">
                        <label>Username :</label>
                        <input name="credUsername" ng-model="credentials.username" md-maxlength="20" required>
                        <div ng-messages="loginForm.credUsername.$error">
                            <div ng-message="required">Username is required.</div>
                            <div ng-message="md-maxlength">The username has to be less than 20 characters long.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block md-accent">
                        <label>Password :</label>
                        <input name="credPassword" ng-model="credentials.password" type="password" md-maxlength="20"
                               required>
                        <div ng-messages="loginForm.credPassword.$error">
                            <div ng-message="required">Password is required.</div>
                            <div ng-message="md-maxlength">The password has to be less than 20 characters long.</div>
                        </div>
                    </md-input-container>

                    <!-- TODO Create Checkbox Remember me for config session timeout -->
                    <div class="md-block md-accent">
                        <md-checkbox aria-label="Remember">
                            Remember me
                        </md-checkbox>
                    </div>

                </md-card-content>

                <md-card-actions layout="column" layout-align="center center" layout-padding style="width: 100%">
                    <div layout="row" layout-fill>
                        <md-button type="submit" class="md-accent md-hue-2" flex
                                   ng-class="{'md-raised md-hue-1': (loginForm.$dirty && loginForm.$valid) }">Sign In
                        </md-button>
                    </div>
                    <div layout="row" class="label" ng-if="(loginForm.$dirty && loginForm.$valid)">Take the control !
                    </div>
                </md-card-actions>

            </md-card>
            <br><br>
            <md-divider></md-divider>

            <div layout="row" layout-align="center center">
                <h1 class="md-title">WELCOME TO PETALS COCKPIT</h1>
            </div>

        </form>

    </div>
</md-content>
