.jumbotron
    h2 Now Let's Talk About The Project !
    .container
        .row
            .float-grid-columns
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            h4 What is this ? 
                        .panel-body
                            | First : This is my new project 2015
                            | Let's talk about ...
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            h4 What is the point ?
                        .panel-body
                            | Second : Give my little skills for you
                            | Let's talk about ...
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            h4 Who are we ? 
                        .panel-body
                            | Finally : Who i am ? Just a novice developer
                            | Let's talk about ...