div
    .navbar.navbar-default
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar

        .navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav
                li.active
                    a(href='#')
                        span.glyphicon.glyphicon-home
                        |  Dashboard
                li
                    a(href='./#/about')
                        span.glyphicon.glyphicon-book
                        |  About The Project
                li
                    a(href='./#/guide')
                        span.glyphicon.glyphicon-book
                        |  User Guide
                li
                    a(href='./#/contact')
                        span.glyphicon.glyphicon-envelope
                        |  Contact
