/* =======================================================================
    Style References
======================================================================= */
@import (reference) "./styles/custom_mixins.less";
@import (reference) "./styles/custom_variables.less";
@import (reference) "../../libs/angular-material/angular-material.min.css";

/* =======================================================================
    Base Elements
======================================================================= */
@font-family_1: 'Material Icons';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../libs/material-design-icons/iconfont/MaterialIcons-Regular.eot');
  src: local('Material Icons'), local('MaterialIcons-Regular'),
  url('../../libs/material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
  url('../../libs/material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
  url('../../libs/material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

body {
    font-family: Roboto, "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
}


/* ==========================================================================
    Manual Resets
========================================================================== */


/* ==========================================================================
    Core Layout
========================================================================== */



/* ==========================================================================
    Header
========================================================================== */

.text-color-icon-nav {
  color: #4527a0;
  font-weight: bold;
}

/* ==========================================================================
    Footer
========================================================================== */



/* ==========================================================================
    Forms
========================================================================== */



/* ==========================================================================
    Dialog
========================================================================== */

.md-dialog {
  min-width: 500px;
}

/* ==========================================================================
    Sidenav
========================================================================== */

.md-sidenav-left {
  z-index: 10;
}


.minimized > ol > li { display:none; }
.minimized > ol {   border: 0 none transparent; }

/* ==========================================================================
    Buttons
========================================================================== */

.material-icons {
  font-family: @font-family_1;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin: 1px 1px 0px 0px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons.md-16 {
  font-size: 16px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.md-fab:hover, .md-fab.md-focused {
  top: -2px;
}

.md-button.md-middle-left {
  top: auto;
  right: auto;
  bottom: 40%;
  left: -20px;
  position: absolute !important;
  background-color: #f5f5f5;
  z-index: 10000;
}

.md-button.changePosition {
  top: 15%;
  right: auto;
  bottom: auto;
  left: 440px;
  position: absolute !important;
  background-color: #f5f5f5;
  z-index: 10;
}

/* ==========================================================================
    Notifications
========================================================================== */


