/* =======================================================================
    Bus Module Styles
======================================================================= */

md-toolbar.md-navConsole-theme-theme:not(.md-menu-toolbar):focus md-icon {
    fill: rgba(239, 108, 0, 0.50) !important;
}

a.md-button.md-navConsole-theme-theme.selectionCmd {
    width: 100%;
    height: 100%;
    color: #FF6D00 !important;
    text-transform: uppercase !important;
    border-bottom: 1px solid rgba(253, 109, 1, 0.96);
}

.sizeSmall {
    font-size: small !important;
}

.btnLargeConsole {
    width: 100%;
    height: 100%;
    padding: 12px;
    margin: 0;
}
