/* =======================================================================
    Bus Module Styles
======================================================================= */

md-toolbar.md-navConsole-theme-theme:not(.md-menu-toolbar):focus md-icon {
    fill: rgba(239, 108, 0, 0.50) !important;
}

a.md-button.md-navConsole-theme-theme.selectionCmd {
    margin: 20px 0 !important;
    min-width: 100px;
    color: #FF6D00 !important;
    text-transform: uppercase !important;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}

.sizeSmall {
    font-size: small !important;
}

