<!-- CONFIG OF NODE SELECTED & NEW CHILDREN -->

<div data-ng-controller="NodesUpdateController as nodeUpCtrl" md-theme="node-theme">
    <md-toolbar class="md-primary md-hue-2">

        <div class="md-toolbar-tools md-primary md-hue-2">
            <md-button class="md-icon-button md-accent"
                       ng-click="cancel(); answer('not useful');previous()">
                <md-tooltip md-direction="right">
                    Previous
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary" aria-label="Previous">arrow_back</md-icon>
            </md-button>

            <div class="md-toolbar-tools md-primary md-hue-1" layout-align="center">
                <div class="md-title">
                    <md-icon class="material-icons md-36 md-primary">{{sItem.icon}}</md-icon>
                    {{sItem.name}}
                </div>
            </div>

            <md-button class="md-icon-button md-accent"
                       ng-click="cancel(); answer('not useful');next()">
                <md-tooltip md-direction="left">
                    Next
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary" aria-label="Next">arrow_forward</md-icon>
            </md-button>
        </div>

    </md-toolbar>

    <form name="updateNodeForm" ng-submit="ok()" novalidate>

        <md-content layout-padding layout="row">

            <div layout="column" layout-sm="column" layout-align="start center" flex data-ng-model="node.state"
                 md-on-open="loadStates()">
                <md-button class="stateShutdown md-icon-button md-ink-ripple" ng-class="{ 'active': s.state == 1}"
                           ng-model="node.state.shutdown"
                           ng-click="s.state = 1">
                    <md-icon class="material-icons md-24">fiber_smart_record</md-icon>
                </md-button>
                <div id="separator"></div>
                <label> {{ node.state }} </label>
                <md-button class="stateStarted md-icon-button md-ink-ripple" ng-class="{ 'active': s.state == 2}"
                           ng-model="node.state.started"
                           ng-click="s.state = 2">
                    <md-icon class="material-icons md-24">fiber_smart_record</md-icon>
                </md-button>

                <label> {{ s.state }} </label>

            </div>

            <div ng-repeat="s in stateData" layout="row" layout-sm="column" layout-align="start center" flex>
                <label> {{ s.title }} </label>

                <md-content layout-padding layout="row">
                    <md-input-container class="md-input-has-value" aria-label="State" flex>
                        <div class="md-accent md-hue-1" layout-align="center center">

                            <label>State</label>

                            <md-select name="state" ng-model="state" md-on-open="loadStates()"
                                       layout-align="center center"
                                       required>

                                <md-optgroup label="States">
                                    <md-option class="md-accent md-hue-1" ng-value="s.name"
                                               ng-repeat="s in states">
                                        {{s.name}}
                                    </md-option>
                                </md-optgroup>

                            </md-select>

                        </div>
                    </md-input-container>
                </md-content>


            </div>
        </md-content>

        <md-content layout-padding layout="row">

            <div layout="row" layout-sm="column" layout-align="start center" flex>
                <md-input-container>
                    <label>Name</label>
                    <input type="text" ng-model="sItem.name" placeholder="Name" required>
                </md-input-container>

                <md-input-container>
                    <label>Ip</label>
                    <input type="text" ng-model="sItem.ip" placeholder="Ip" required>
                </md-input-container>

                <md-input-container>
                    <label>Port</label>
                    <input type="text" ng-model="sItem.port" placeholder="Port" required>
                </md-input-container>
            </div>

            <div data-ng-controller="ComponentsController as componentsCtrl" layout="row" layout-sm="column"
                 layout-align="center center" flex id="modalContainer">
                <md-button class="md-fab md-mini md-accent md-hue-1" aria-label="Refresh"
                           ng-click="nodeUpCtrl.update(sItem)">
                    <md-tooltip>
                        Update Node
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary">done</md-icon>
                </md-button>

                <md-button class="md-fab md-mini md-accent md-hue-1"
                           ng-click="showModalCreateComponent($event)">
                    <md-tooltip md-direction="down">
                        Add Component
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary">add</md-icon>
                </md-button>
            </div>

        </md-content>
    </form>
</div>