<section data-ng-controller="NodesCreateController as nodeCtrl">

    <div class="modal-header">
        <h3 class="modal-title">Create New Node</h3>
    </div>
    <div class="modal-body">
        <form name="createNodeForm" ng-submit="ok()" novalidate>
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div data-ng-show="close" class="text-center text-success">
                            <div class="alert alert-success" role="alert">
                                <strong data-ng-bind="close"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="glyphicon glyphicon-flash cust-profile"></i>
                        <br/><br/>
                    </div>
                    <div class="col-sm-8">

                        <div class="panel-pricing">
                            <div class="panel-green">
                                <div class="panel-heading padZero text-center">
                                    <h4 class=""><i class="glyphicon glyphicon-flash cust-overview"></i> Node Parent</h4>

                                    <div class="form-group text-center">
                                        <select data-ng-model="node.parentBus" id="parentBus" class="form-control">
                                            <option value="">-- Please Select Parent --</option>
                                            <option value="{{bus._id}}" data-ng-repeat="bus in buses">{{bus.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>

                        <div class="panel-green">
                            <div class="panel-heading padZero text-center">
                                <h4 class=""><i class="glyphicon glyphicon-flash cust-overview"></i> Node Settings</h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>

                            <div class="controls">
                                    <span class="input-group-addon">
                                        <input type="text" data-ng-model="node.name" id="name"
                                               class="form-control">
                                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="ip">Petals Node Ip</label>

                            <div class="controls">
                                    <span class="input-group-addon">
                                        <input type="text" data-ng-model="node.ip" id="ip" class="form-control"
                                                >
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" ng-click="create()">
            <i class="glyphicon glyphicon-save"></i>
            Save New Node
        </button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove"></i>
            Close
        </button>
    </div>

</section>
