<md-dialog data-ng-controller="NodesCreateController as nodeCtrl" md-theme="node-theme" aria-label="Pop Up New Server"
           ng-cloak
           flex-sm="80" flex-md="80" flex-gt-md="80">

    <form name="createNodeForm">
        <md-toolbar layout="row" class="md-primary md-hue-1">

            <md-button class="md-icon-button md-accent"
                       ng-click="closeDialog()">
                <md-tooltip md-direction="bottom">
                    Back
                </md-tooltip>
                <md-icon class="material-icons md-24 md-accent" aria-label="Close Dialog">arrow_back</md-icon>
            </md-button>

            <md-button ng-click="create(node); closeDialog(); openBottomSheet()"
                       class="md-fab md-accent md-fab-bottom-left md-raised margButtonFloat md-whiteframe-z3 md-whiteframe-6dp"
                       ng-disabled="createNodeForm.$invalid">
                <md-tooltip md-direction="bottom">
                    Create New Node
                </md-tooltip>
                <md-icon class="md-accent md-24">done</md-icon>
            </md-button>

            <h1 class="md-toolbar-tools md-primary md-hue-1" layout-align="center center">
                <md-button class="md-icon-button md-accent">
                    <md-tooltip md-direction="bottom">
                        Node
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-accent" aria-label="add">developer_mode</md-icon>
                </md-button>
                New Server in &nbsp;
                <code> {{ nodeP.name }} </code>
            </h1>

        </md-toolbar>

        <md-dialog-content layout-padding layout="row" layout-sm="column" class="md-accent" flex>

            <div layout="column" layout-align="center center" flex="50" flex-sm="100">
                <md-input-container class="md-accent md-hue-1" flex>
                    <label>Name</label>
                    <input type="text" data-ng-model="node.name" placeholder="Name" required>
                </md-input-container>

                <md-input-container class="md-accent md-hue-1" flex>
                    <label>Version</label>
                    <input type="text" data-ng-model="node.version" placeholder="Version" required>
                </md-input-container>
            </div>

            <div layout="column" layout-align="center center" flex="50" flex-sm="100">
                <md-input-container class="md-accent md-hue-1">
                    <label>Ip</label>
                    <input type="text" data-ng-model="node.ip" placeholder="Ip" required>
                </md-input-container>

                <md-input-container class="md-accent md-hue-1">
                    <label>Port</label>
                    <input type="text" data-ng-model="node.port" placeholder="Port" required>
                </md-input-container>
            </div>

        </md-dialog-content>
    </form>

</md-dialog>