<section data-ng-controller="NodesController as nodesCtrl">
    <div class="container">
        <div class="page-header text-color-white">
            <h1>Node</h1>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button type="button" class="btn btn-success text-center"
                    ng-click="nodesCtrl.modalCreate('lg',size,createNodeForm)">
                <i class="glyphicon glyphicon-wrench"></i>
                Create New Node
            </button>
        </div>
        </br>
        </br>
        <dir-node-list info="nodesCtrl.nodes" filter="searchText"></dir-node-list>
    </div>
</section>