<md-toolbar md-theme="node-theme" class="md-primary md-hue-2">
    <div class="md-toolbar-tools md-primary md-hue-2">
        <a href="/#!/">
            <md-button class="md-icon-button md-accent" aria-label="Previous"
                       ng-click="previous()">
                <md-tooltip md-direction="right">
                    Previous
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary" aria-label="Previous">arrow_back</md-icon>
            </md-button>
        </a>

        <h1 class="md-toolbar-tools" layout-align="center">
            Node Settings
        </h1>

        <a href="/#!/">
            <md-button class="md-icon-button md-accent" aria-label="Next"
                       ng-click="next()">
                <md-tooltip md-direction="left">
                    Next
                </md-tooltip>
                <md-icon class="material-icons md-24 md-accent" aria-label="Next">arrow_forward</md-icon>
            </md-button>
        </a>
    </div>
</md-toolbar>

<md-content layout-padding layout="row" layout-sm="column">
    <md-input-container class="md-accent md-hue-1">
        <label>Name</label>
        <input type="text" ng-model="sItem.name" placeholder="Name">
    </md-input-container>
    <md-input-container class="md-accent md-hue-1">
        <label>Parent</label>
        <input type="text" ng-model="sItem.parentBus.name" placeholder="Parent">
    </md-input-container>
    <md-input-container class="md-accent md-hue-1">
        <label>Ip</label>
        <input type="text" ng-model="sItem.ip" placeholder="Ip">
    </md-input-container>
    <md-input-container class="md-accent md-hue-1">
        <label>Port</label>
        <input type="text" ng-model="sItem.port" placeholder="Port">
    </md-input-container>
</md-content>
