<div class="panel-pricing panel-primary" data-ng-controller="NodesController as nodesCtrl">
    <div class="panel-green">
        <div class="panel-heading padZero text-center">
            <h4 class=""><i class="glyphicon glyphicon-flash cust-overview"></i> Node Settings</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table panel">
            <thead>
            <tr class="filters">
                <th><input type="text" class="form-control" placeholder="#" disabled></th>
                <th><input type="text" class="form-control" placeholder="Parent Bus Name" disabled></th>
                <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                <th><input type="text" class="form-control" placeholder="Ip" disabled></th>
                <th><input type="text" class="form-control" placeholder="Edit" disabled></th>
                <th><input type="text" class="form-control" placeholder="Delete" disabled></th>
            </tr>
            </thead>
            <tbody data-ng-repeat="node in nodeUnique">
            <tr>
                <td>{{$index + 1}}</td>
                <td>{{node.parentBus.name}}</td>
                <td>{{node.name}}</td>
                <td>{{node.ip}}</td>
                <td ng-click="nodesCtrl.modalUpdate('lg', node)">
                    <dir-up-node node="node"></dir-up-node>
                </td>
                <td>
                    <dir-sup-node node="node"></dir-sup-node>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
