/* =======================================================================
    Sidenav Module Styles
======================================================================= */
md-sidenav.md-locked-open {
    width: 350px !important;
    min-width: 350px !important;
    max-width: 350px !important;
}

/*.md-sidenav-left {
    z-index: 1000;
}*/

/*// Button for hide & show the Sidenav
.md-button.changePositionClose {
    top: 50px;
    right: auto;
    bottom: auto;
    left: 0;
    position: absolute !important;
    background-color: #f2f2f2;
    z-index: 10000;
}

.md-button.changePositionOpen {
    top: 50px;
    right: auto;
    bottom: auto;
    left: 0;
    position: absolute !important;
    background-color: #f2f2f2;
    z-index: 10000;
}*/
