/* =======================================================================
    Sidenav Module Styles
======================================================================= */
md-sidenav.md-locked-open {
    width: 500px !important;
    min-width: 500px !important;
    max-width: 500px !important;
}

.md-sidenav-left {
    z-index: 10;
}
