    <md-sidenav layout-fill flex class="md-whiteframe-z2 md-sidenav-left" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')" md-theme="core-theme" ng-cloak>

        <div ui-view="petals"></div>
        <div ui-view></div>
    </md-sidenav>

<!--    <md-content layout-fill flex md-theme="navConsole-theme" ng-cloak>

        <div layout-fill>
&lt;!&ndash;            <div ui-view="consoleView"></div>&ndash;&gt;
            <h1>Console Works !!!!</h1>
        </div>

    </md-content>-->
