@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}
.login-form-bg {
    border: 10px solid #333;
    border-radius: 15px;
    margin-top: 30px;
    background: #d9e7e9; /* Old browsers */
    background: linear-gradient(45deg,  #111 0%,#d9e7e9 100%); /* W3C */
}
.bandeau-login-bg {
    text-align: center;
}
.forgot-password {
    color: #eeeeee;
}
.text-color-white {
    color: #ffffff;
}
.cust-profile {
    font-size: 100px;
}
.cust-list {
    font-size: 100px;
}
.checkbox-center {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.text-pink {
    color: #ec407a;
}
.text-yellow {
    color: #F1EA00;
}
.text-red {
    color: #FF0000;
}
.text-orange {
    color: #e87d0d;
}
.text-green {
    color: #008855;
}
.extra-space {
    padding-bottom: 15px;
    padding-top: 15px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0 0 0 !important;
}

.s48 {
    width: 48px;
    height: 48px; }

.modalUpdateUser {
    width: 800px !important;
    height: 800px !important;
    max-width:800px !important;
    max-height:800px !important;
}

.md-grid-list {
    margin: 8px;
}
.md-grid-tile {
    transition: all 400ms ease-out 50ms;
}
.flex-gt-md-100 {
    width: 100%;
    height: 100%;
}
.flex-md-100 {
    width: 100%;
    height: 100%;
}