@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}
.login-form-bg {
    border: 10px solid #333;
    border-radius: 15px;
    margin-top: 30px;
    background: #d9e7e9; /* Old browsers */
    background: linear-gradient(45deg,  #111 0%,#d9e7e9 100%); /* W3C */
}
.bandeau-login-bg {
    text-align: center;
}
.forgot-password {
    color: #eeeeee;
}
.text-color-white {
    color: #ffffff;
}
.cust-profile {
    font-size: 250px;
}
.cust-list {
    font-size: 150px;
}
.checkbox-left {
    width: 10%;
    text-align: left;
}
.text-pink {
    color: #ec407a;
}
.extra-space {
    padding-bottom: 15px;
    padding-top: 15px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0 0 0 !important;
}