// Footer ============================================= 
.footer
  .container
    p Designed and built with all the love in the world by 
      a(href='#') QantumLeap
    p Linagora Corporate
    ul.footer-links
      li
        a(href='./#/about') A propos du Projet
      li.muted
        | &middot;
      li
        a(href='./#/guide') Guide Utlisateur
      li.muted
        | &middot;
      li
        a(href='./#/contact') Contact