doctype html
html
head
    title Petals-Cockpit
    meta(charset='utf8')
    base(href='/')
    title #{title} - Super-Chat
    link(rel='stylesheet', type='text/css', href='/components/bootstrap/dist/css/bootstrap.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/components/bootstrap/dist/css/bootstrap-theme.min.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
    link(rel='stylesheet', href='/css/style.less', media='screen')
    link(rel='stylesheet', href='/css/style.setup-wizard.less', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/font-awesome.min.css', media='screen')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-bootstrap/ui-bootstrap.min.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src="/components/recaptcha_ajax/index.js")
    script(src='/components/angular-recaptcha/release/angular-recaptcha.js')
    script(src='/js/app.js')
    
body
    .section
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
            
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li
                a(href='#')
                    span.glyphicon.glyphicon-home
                    |  Tableau de bord
            li.active
              a(href='about')
                span.glyphicon.glyphicon-book
                |  A propos du projet
            | 
            li
              a(href='guide')
                span.glyphicon.glyphicon-book
                |  Guide Utilisateur
            | 
            li
              a(href='./#/login')
                span.glyphicon.glyphicon-user
                |  S'identifier
            | 
            li
              a(href='contact')
                span.glyphicon.glyphicon-envelope
                |  Contact
            | 
      //
         Navigation Bar 
    .jumbotron
      p
        a(href='#')
            img(src='../img/logo.png')
        
      h1 Petals-Cockpit
      p
        | Voyez les choses en grand.

    include ./footer.jade