.jumbotron
    h2 Climb Aboard The Cockpit And Let It Guide You !
    .container
        .row
            .row-centered
                .col-xs-12.col-centered
                    .panel.panel-default
                        .panel-heading
                            h4 The Savvy Guide To Petals-Cockpit 
                        .panel-body
                            | First Rule : This is my new project 2015
                            | Let's talk about ... 