doctype html
html
head
    title Petals-Cockpit
    meta(charset='utf8')
    base(href='/')
    title #{title} - Super-Chat
    link(rel='stylesheet', type='text/css', href='/components/bootstrap/dist/css/bootstrap.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/components/bootstrap/dist/css/bootstrap-theme.min.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/font-awesome.min.css', media='screen')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-bootstrap/ui-bootstrap.min.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src="/components/recaptcha_ajax/index.js")
    script(src='/components/angular-recaptcha/release/angular-recaptcha.js')
    script(src='/js/app.js')
    
body(ng-app='cockpit-app')
include ./esn/partials/header.jade
include ./esn/default.jade  
    div(ng-view)
include ./esn/partials/footer.jade
