doctype html
html
    include ./commons/utils
head
    title Petals-Cockpit
    meta(charset='utf8')
    base(href='/')
    title #{title} - Super-Chat
    link(rel='stylesheet', type='text/css', href='/public/components/bootstrap/dist/css/bootstrap.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/public/components/bootstrap/dist/css/bootstrap-theme.min.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/public/css/style.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/public/components/font-awesome/css/font-awesome.min.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/public/components/font-awesome-animation/dist/font-awesome-animation.min.css', media='screen')  
    script(src='/public/components/jquery/dist/jquery.min.js')
    script(src='/public/components/angular/angular.min.js')
    script(src='/public/components/angular-bootstrap/ui-bootstrap.min.js')
    script(src='/public/components/angular-route/angular-route.min.js')
    script(src='/public/components/angular-animate/angular-animate.min.js')
    script(src='/public/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/app.js')
    
body(ng-app='cockpit-app', ng-controller='MainController', ng-init="recaptchaPublicKey='#{recaptchaPublicKey}'")
include ./esn/partials/header
include ./esn/default
include ./esn/partials/footer

	block content
	block scripts