
extends layout

block content
	include modals/reset-password

block scripts
	script(src='/public/components/jquery/dist/jquery.min.js')
    script(src='/public/components/bootstrap/js/transition.js')
    script(src='/public/components/bootstrap/js/modal.js')
	script(src='/public/js/views/reset.js')
	script(src='/public/js/form-validators/resetValidator.js')