<!-- OVERVIEW OF SETTINGS COMPONENT SELECTED -->

<md-toolbar md-theme="component-theme" class="md-primary md-hue-2">

    <div class="md-toolbar-tools md-primary md-hue-2">
        <md-button class="md-icon-button md-accent" aria-label="Previous"
                   ng-click="previous()">
            <md-tooltip md-direction="right">
                Previous
            </md-tooltip>
            <md-icon class="material-icons md-24 md-primary" aria-label="Previous">arrow_back</md-icon>
        </md-button>

        <h1 class="md-toolbar-tools md-primary md-hue-1" layout-align="center center">
            Component Settings in &nbsp;
            <code> {{ sItem.parentServer.name }} </code>
        </h1>

        <md-button class="md-icon-button md-accent" aria-label="Next"
                   ng-click="next()">
            <md-tooltip md-direction="left">
                Next
            </md-tooltip>
            <md-icon class="material-icons md-24 md-accent" aria-label="Next">arrow_forward</md-icon>
        </md-button>
    </div>

</md-toolbar>

<md-content layout-padding layout="row" layout-sm="column">

    <div layout="row" layout-sm="column" layout-align="start center" flex>
        <md-input-container class="md-accent md-hue-1">
            <label>Name</label>
            <input type="text" ng-model="sItem.name" placeholder="Name">
        </md-input-container>
    </div>

</md-content>