<div data-ng-controller="ComponentsController as componentsCtrl" ng-cloak>

    <md-toolbar class="md-primary" layout="row" layout-align="start start">

        <div layout-padding>
            <div class="md-toolbar-tools" layout-align="center">
                <p>Components</p>
                <i class="material-icons md-48 md-primary"></i>
            </div>
        </div>

        <div layout-padding>
            <form name="searchForm" layout-padding>

                <md-input-container class="md-primary md-hue-1" aria-label="Search" layout="row"
                                    layout-align="center center">
                    <i class="material-icons md-36 md-primary">search</i>
                    <label for="searchInput"></label>
                    <input id="searchInput" placeholder="Search.." type="text" ng-model="searchText"
                           md-autofocus>
                </md-input-container>

            </form>
        </div>

    </md-toolbar>

    <md-content layout-padding layout="row" layout-sm="column" hide-sm>

        <md-input-container>
            <label>Name</label>
            <input type="text" disabled>
        </md-input-container>

        <md-input-container>
            <label>Parent</label>
            <input type="text" disabled>
        </md-input-container>

    </md-content>

    <md-content layout-padding layout="row" layout-sm="column"
                data-ng-repeat="component in componentsList | filter:searchText | orderBy:'-Name'">

        <md-input-container>
            <input type="text" ng-model="component.name">
        </md-input-container>

        <md-input-container>
            <input type="text" ng-model="component.parentServer.name">
        </md-input-container>

        <md-input-container ng-click="componentsCtrl.modalUpdate('lg', component)">
            <dir-up-component component="component"></dir-up-component>
        </md-input-container>

        <md-input-container>
            <dir-sup-component component="component"></dir-sup-component>
        </md-input-container>
    </md-content>

</div>