<section data-ng-controller="ComponentsCreateController as componentCtrl">

    <div class="modal-header">
        <h3 class="modal-title">Create New Component</h3>
    </div>
    <div class="modal-body">
        <form name="createComponentForm" ng-submit="ok()" novalidate>
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div data-ng-show="close" class="text-center text-success">
                            <div class="alert alert-success" role="alert">
                                <strong data-ng-bind="close"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="glyphicon glyphicon-tasks cust-profile"></i>
                        <br/><br/>
                    </div>
                    <div class="col-sm-8">

                        <div class="panel-pricing">
                            <div class="panel-green">
                                <div class="panel-heading padZero text-center">
                                    <h4 class=""><i class="glyphicon glyphicon-wrench cust-overview"></i> Select Node - Parent
                                    </h4>

                                    <div class="form-group text-center">
                                        <select data-ng-model="component.parentServer" required id="parentServer" class="form-control">
                                            <option value="">-- Please Select Parent --</option>
                                            <option value="{{node._id}}" data-ng-repeat="node in nodes">{{node.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>

                        <div class="panel-green">
                            <div class="panel-heading padZero text-center">
                                <h4 class=""><i class="glyphicon glyphicon-tasks cust-overview"></i> Component Settings</h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>

                            <div class="controls">
                                    <span class="input-group-addon">
                                        <input type="text" data-ng-model="component.name" required id="name"
                                               class="form-control">
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" ng-click="create(); cancel()">
            <i class="glyphicon glyphicon-save"></i>
            Save New Component
        </button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove"></i>
            Close
        </button>
    </div>

</section>
