<section data-ng-controller="ComponentsController as componentsCtrl" class="backTest">
    <br><br>
    <div class="container">
        <div class="page-header text-color-white">
            <h1>Component</h1>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button type="button" class="btn btn-success text-center"
                    ng-click="componentsCtrl.modalCreate('lg',size,createComponentForm)">
                <i class="glyphicon glyphicon-plus"></i>
                Create New Component
            </button>
        </div>
        </br>
        </br>
        <dir-component-list info="componentsCtrl.components" filter="searchText"></dir-component-list>
    </div>
</section>