<div data-ng-controller="ServiceunitsUpdateController as serviceunitUpCtrl">
    <md-toolbar md-theme="overview-theme" class="md-primary md-hue-3">
        <div class="md-toolbar-tools" layout-align="center">{{sItem.name}}
            <i class="material-icons md-48 md-primary">{{sItem.icon}}</i>
        </div>
    </md-toolbar>

    <form name="updateServiceunitForm" ng-submit="ok()" novalidate>
        <md-content layout-padding layout="row" layout-sm="column">
            <md-input-container>
                <label>Name</label>
                <input type="text" ng-model="sItem.name" placeholder="Name">
            </md-input-container>

            <md-button class="md-fab md-mini md-accent md-hue-1" aria-label="Refresh" ng-click="serviceunitUpCtrl.update(sItem)">
                <md-tooltip>
                    Update Service Unit
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">refresh</md-icon>
            </md-button>

            <md-button data-ng-controller="ServicesController as servicesCtrl" class="md-fab md-mini md-accent md-hue-1"
                       aria-label="Refresh" ng-click="servicesCtrl.modalCreate('lg',size,createServiceForm)">
                <md-tooltip>
                    Create New Service
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary">add</md-icon>
            </md-button>
        </md-content>
    </form>
</div>

<div data-ng-controller="ServicesController as servicesCtrl">
    <dir-service-list info="servicesCtrl.services" filter="searchText"></dir-service-list>
</div>