<section data-ng-controller="ServiceunitsController as serviceunitsCtrl">
    <div class="page-header text-color-white">
        <h1>Service Unit</h1>
    </div>
    <div class="col-xs-12 col-sm-4">
        <button type="button" class="btn btn-success text-center" ng-click="serviceunitsCtrl.modalCreate('lg',size,createServiceunitForm)">
            <i class="glyphicon glyphicon-wrench"></i>
            Create New Service Unit
        </button>
    </div>
    </br>
    </br>
    <dir-serviceunit-list info="serviceunitsCtrl.serviceunits" filter="searchText"></dir-serviceunit-list>
</section>