<section data-ng-controller="CustomersCreateController as customerCtrl">

    <div class="modal-header">
        <h3 class="modal-title">New User</h3>
    </div>
    <div class="modal-body">
        <form name="createCustomerForm" ng-submit="ok()" novalidate>
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <i class="glyphicon glyphicon-user cust-profile"
                           ng-class="{'text-primary': customer.referred, 'text-pink': !customer.referred}"></i>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="firstname">First Name</label>

                            <div class="controls">
                                <input type="text" data-ng-model="customer.firstName" id="firstname"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="surname">Surname</label>

                            <div class="controls">
                                <input type="text" data-ng-model="customer.surname" id="surname"
                                       class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>

                            <div class="controls">
                                <input type="text" data-ng-model="customer.username" id="username"
                                       class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="suburb">Suburb</label>

                            <div class="controls">
                                <input type="text" data-ng-model="customer.suburb" id="suburb" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="country">Country</label>

                            <div class="controls">
                                <input type="text" data-ng-model="customer.country" id="country"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <label class="control-label" for="phone">Phone</label>

                            <div class="controls">
                                <input type="text" data-ng-model="customer.phone" id="phone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>

                            <div class="controls">
                                <input type="text" data-ng-model="customer.email" id="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="form-group">
                            <label class="control-label" for="referred">Referred</label>

                            <div class="controls">
                                <input type="checkbox" data-ng-model="customer.referred" id="referred"
                                       class="form-control checkbox-left">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="channel">Channel</label>

                            <div class="controls">
                                <select data-ng-model="customer.channel" id="channel" class="form-control" required
                                        ng-options="channelItem.item for channelItem in channelOptions">
                                    <option value="">--Choose Channel--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="industry">Industry</label>

                            <div class="controls">
                                <input type="text" data-ng-model="customer.industry" id="industry"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" ng-click="create()">Save & Close</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
    </div>

</section>
