<div ng-class="modules-home-directive" layout="column" layout-fill>

    <div layout-row flex>
        <md-toolbar md-theme="sidenav-theme" class="md-accent">

            <div class="md-toolbar-tools md-primary">

                <div ng-controller="SidenavController" flex>
                    <md-button class="md-icon-button md-primary md-24">
                        <md-tooltip md-direction="top">
                            Workspace
                        </md-tooltip>
                        <md-icon class="material-icons md-24 md-primary" aria-label="Folder">folder
                        </md-icon>
                    </md-button>

                    <span class="middleAlign"> WORKSPACE</span>

                    <md-button class="md-icon-button md-primary md-24">
                        <md-tooltip md-direction="top">
                            Menu Workspace
                        </md-tooltip>
                        <md-icon class="material-icons md-24 md-primary" aria-label="Open Menu">more_vert</md-icon>
                    </md-button>

                    <md-button class="md-icon-button md-primary md-24"
                               ng-click="close()" ng-hide="isOpenLeft()">
                        <md-tooltip md-direction="top">
                            Close
                        </md-tooltip>
                        <md-icon class="material-icons md-24 md-primary" aria-label="Hide Tree">arrow_back</md-icon>
                    </md-button>

                    <md-button class="md-icon-button md-primary md-24"
                               ng-click="isOpenLeft()" ng-hide="!isOpenLeft()">
                        <md-tooltip md-direction="top">
                            Open
                        </md-tooltip>
                        <md-icon class="material-icons md-24 md-primary" aria-label="Show Tree">arrow_next</md-icon>
                    </md-button>
                </div>

                <div>
                    <span>
                        <span> {{ infoSelect }} </span>
                        <md-icon class="material-icons md-18 md-accent treeIcon">
                            {{ selectedChild.value.icon }}
                        </md-icon>

                        <md-button class="md-primary menuBtnTree"
                                   ng-class="{'md-raised': selectedChild.value.selected}">
                            {{ selectedChild.value.title }}
                        </md-button>
                    </span>

                    <md-button class="md-icon-button md-primary md-24">
                        <md-tooltip md-direction="top">
                            Menu Console
                        </md-tooltip>
                        <md-icon class="material-icons md-24 md-primary" aria-label="Open Menu">more_vert</md-icon>
                    </md-button>
                </div>

            </div>

        </md-toolbar>
    </div>

    <div layout="row" flex>

        <div>
            <div md-theme="sidenav-theme" sidenav-view="" autoscroll="false" id="sidenav" flex></div>
        </div>

        <div class="module-header" flex>
            <h1>Console</h1>
        </div>

    </div>

</div>
