.jumbotron
    .container
        .row
            p
                a(href='#')
                    img(src='../public/img/logo.png')
                h1 Petals-Cockpit
            p
                | Come And Experience Our New Tool.         
