<div class="gridListTile" layout-fill flex md-theme="cardCustom-theme">
    <md-grid-list
        layout-fill
        md-cols-xs="2" md-cols-gt-xs="4"
        md-row-height-xs="2:1" md-row-height-gt-xs="19:4"
        md-gutter="4px" md-gutter-gt-sm="4px">
        <!-- works with Firefox only
                md-row-height-gt-xs="fit"
        -->
        <md-grid-tile ng-repeat="tile in vmBcSoapConfig.tiles"
                      md-rowspan="{{tile.span.row}}"
                      md-colspan="{{tile.span.col}}"
                      ng-class="tile.background">

            <md-button aria-label="Open Modal BcSoap Config Details" class="fondGrid" layout-fill
                       ng-click="vmBcSoapConfig.openModalTile(tile)">

                <md-grid-tile-header layout-align="center center" class="gridTitleHeader">
                    <span class="md-title">{{tile.title}}</span>
                </md-grid-tile-header>

                <!-- Inside Tile -->
                <formly-form
                    model="tile.model"
                    fields="tile.fieldsDisplay"
                    options="tile.options"
                    form="tile.form"
                    layout-fill layout-align="center start">
                </formly-form>

            </md-button>

        </md-grid-tile>
    </md-grid-list>
</div>
