<md-dialog aria-label="Delete Component" md-theme="core-theme" ng-cloak>
    <form name="componentDeleteForm">
        <md-toolbar class="md-accent md-toolbar-tools">
            <md-icon class="material-icons md-accent"
                     md-svg-icon="mdicons:delete-forever">
            </md-icon>
            <span flex></span>
            <h2>Remove <b>'{{ vmModal.modalTitle }}' component</b></h2>
            <span flex></span>
        </md-toolbar>
        <md-card layout="column" layout-padding flex>
            <span>Are you sure you want to <b>remove '{{ vmModal.modalTitle }}</b>' ?</span>
            <md-dialog-actions layout="row" layout-align="space-between center">
                <span flex></span>
                <md-button aria-label="Delete" ng-click="vmModal.validDialog();"
                           class="md-primary">
                    Delete
                </md-button>
                <md-button aria-label="Cancel" ng-click="vmModal.closeDialog()">
                    Cancel
                </md-button>
            </md-dialog-actions>
        </md-card>
    </form>
</md-dialog>
