<div data-ng-controller="UsersUpdateController as userUpCtrl" aria-label="Pop Up User" ng-cloak
     md-theme="core-theme" flex-sm="100" flex-md="100" flex-gt-md="100">
    <form name="updateUserForm" ng-submit="ok()" novalidate>

        <md-toolbar layout="row" class="md-primary md-hue-2">
            <a href="/#!/">
                <md-button class="md-icon-button md-accent"
                           ng-click="cancel(); answer('not useful')">
                    <md-tooltip md-direction="bottom">
                        Back To The List
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary" aria-label="Close Dialog">arrow_back</md-icon>
                </md-button>
            </a>

            <md-button ng-click="userUpCtrl.update(user); cancel(); answer('useful');openBottomSheet()"
                       class="md-fab md-accent md-fab-bottom-left md-raised margButtonFloat md-whiteframe-z3 md-whiteframe-6dp"
                       ng-disabled="updateUserForm.$invalid">
                <md-tooltip md-direction="bottom">
                    Update User
                </md-tooltip>
                <md-icon class="material-icons md-36 md-accent">done</md-icon>
            </md-button>

        </md-toolbar>

        <div layout-gt-sm="row" class="layout-margin">

            <div class="" layout-align="center start" flex>
                <div layout-padding>
                    <md-list>
                        <md-list-item>
                            <img class="md-avatar" ng-src="modules/users/img/avatars/profile.png"/>

                            <h2>{{user.firstName}} {{user.lastName}}</h2>
                        </md-list-item>
                    </md-list>

                    <md-divider></md-divider>

                    <md-list>
                        <md-list-item>
                            <p>
                                Please , fill all the text fields before saving !

                            </p>
                        </md-list-item>
                    </md-list>
                </div>

                <!--                    <md-input-container class="md-primary md-hue-1" aria-label="Country">
                                        <div class="md-primary md-hue-1" layout-align="center center">
                                            <md-icon class="material-icons md-24 md-primary">terrain</md-icon>
                                            <label>Country</label>
                                            <md-select name="myModel" data-ng-model="user.country" required>
                                                <md-option ng-repeat="country in countries" value="{{country}}">{{country}}</md-option>
                                            </md-select>
                                        </div>

                                    </md-input-container>-->

                <md-input-container class="md-input-has-value" aria-label="Country">
                    <div class="md-accent md-hue-1" layout-align="center center">
                        <md-icon class="md-36 md-accent">terrain</md-icon>
                        <!-- Return Name Country Select for Update -->
                        <label>{{user.country}}</label>
                        <md-select name="myModel" data-ng-model="user.country" md-on-open="loadCountries()"
                                   layout-align="center center" class="md-accent" required>
                            <!-- Name of Group List -->
                            <md-select-label class="md-accent md-hue-1">Country</md-select-label>
                            <!-- Name of List Countries -->
                            <md-option class="md-accent md-hue-1" ng-repeat="country in countries"
                                       ng-value="country.name" ng-init="user.country = countries.name">{{country.name}}
                            </md-option>
                        </md-select>
                    </div>

                </md-input-container>

            </div>


            <div class="md-dialog-content" layout-align="center center" flex>

                <md-input-container class="md-accent md-hue-1" aria-label="firstName">
                    <div class="md-accent">
                        <md-icon class="md-36 md-accent">account_box</md-icon>
                        <label>Firstname</label>
                        <input type="text" id="firstName" name="firstName"
                               data-ng-model="user.firstName" required>
                    </div>

                </md-input-container>

                <md-input-container class="md-accent md-hue-1" aria-label="lastName">
                    <div class="md-accent md-hue-1">
                        <md-icon class="material-icons md-36 md-accent">account_box</md-icon>
                        <label>Lastname</label>
                        <input type="text" id="lastName" name="lastName"
                               data-ng-model="user.lastName" required>
                    </div>

                </md-input-container>

                <md-input-container class="md-accent md-hue-1" aria-label="username">
                    <div class="md-accent md-hue-1">
                        <md-icon class="md-36 md-accent">accessibility</md-icon>
                        <label>Username</label>
                        <input type="text" id="username" name="username"
                               data-ng-model="user.username" required>
                    </div>

                </md-input-container>

                <!--                    <md-input-container class="md-primary md-hue-1" aria-label="password" layout-align="center center">
                                        <div class="md-primary md-hue-1">
                                            <md-icon class="material-icons md-36 md-primary">vpn_keys</md-icon>
                                            <label>Password</label>
                                            <input type="password" id="password" name="password"
                                                   data-ng-model="user.password" required>
                                        </div>

                                    </md-input-container>-->
            </div>

            <div class="md-dialog-content" layout-align="center end" flex>

                <md-input-container class="md-accent md-hue-1" aria-label="email">
                    <div class="md-accent md-hue-1">
                        <md-icon class="md-24 md-accent">email</md-icon>
                        <label>Email</label>
                        <input type="text" id="email" name="email"
                               data-ng-model="user.email" required>
                    </div>

                </md-input-container>

                <md-input-container class="md-accent md-hue-1" aria-label="pseudo">
                    <div class="md-accent md-hue-1">
                        <md-icon class="md-24 md-accent">portrait</md-icon>
                        <label>Pseudo</label>
                        <input type="text" id="displayName" name="displayName"
                               data-ng-model="user.displayName" required>
                    </div>

                </md-input-container>

                <md-input-container class="md-accent md-hue-1" aria-label="phone">
                    <div class="md-accent md-hue-1">
                        <md-icon class="md-24 md-accent">phone</md-icon>
                        <label>Phone</label>
                        <input type="text" id="phone" name="phone"
                               data-ng-model="user.phone">
                    </div>

                </md-input-container>

                <md-input-container class="md-accent md-hue-1" aria-label="location">
                    <div class="md-accent md-hue-1">
                        <md-icon class="md-24 md-accent">my_location</md-icon>
                        <label>Location</label>
                        <input type="text" id="location" name="location"
                               data-ng-model="user.location" required>
                    </div>

                </md-input-container>

            </div>
        </div>


    </form>
</div>