<div class="panel-pricing panel-primary">
    <div class="panel-green">
        <div class="panel-heading padZero text-center">
            <h4 class=""><i class="glyphicon glyphicon-sort cust-overview"></i> Service Settings</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table panel">
            <thead>
            <tr class="filters">
                <th><input type="text" class="form-control" placeholder="* Name" disabled></th>
                <th><input type="text" class="form-control" placeholder="Parent" disabled></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{sItem.name}}</td>
                <td>{{sItem.parentServiceunit.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
