<div data-ng-controller="ServicesController as servicesCtrl" ng-cloak>
    <md-toolbar md-theme="overview-theme" class="md-primary md-hue-3">
        <div class="md-toolbar-tools" layout-align="center">Petals List Services
            <i class="material-icons md-48 md-primary"></i>
        </div>
    </md-toolbar>

    <md-content layout-padding layout="row" layout-sm="column" hide-sm>

        <md-input-container>
            <label>Name</label>
            <input type="text" disabled>
        </md-input-container>

        <md-input-container>
            <label>Parent</label>
            <input type="text" disabled>
        </md-input-container>

    </md-content>

    <md-content layout-padding layout="row" layout-sm="column"
                data-ng-repeat="service in servicesList | filter:searchText | orderBy:'-Name'">

        <md-input-container>
            <input type="text" ng-model="service.name">
        </md-input-container>

        <md-input-container>
            <input type="text" ng-model="service.parentServiceunit.name">
        </md-input-container>

        <md-input-container ng-click="servicesCtrl.modalUpdate('lg', service)">
            <dir-up-service service="service"></dir-up-service>
        </md-input-container>

        <md-input-container>
            <dir-sup-service service="service"></dir-sup-service>
        </md-input-container>
    </md-content>

    <md-content layout-padding layout="column" layout-sm="column">
        <form name="searchForm">
            <md-input-container class="md-raised md-primary md-hue-1 md-block" aria-label="Search">


                <label for="searchInput">
                    <md-icon class="material-icons md-48 md-primary">search</md-icon>
                </label>

                <input id="searchInput" placeholder="Enter a search term..." type="text" ng-model="searchText"
                       md-autofocus type="text">
            </md-input-container>
            <!--            <div ng-messages="searchForm.searchText.$error">
                            <div ng-message="required">This is a search bar for component list ..</div>
                        </div>-->

        </form>
    </md-content>
</div>