<md-toolbar md-theme="overview-theme" class="md-primary md-hue-3">
    <h1 class="md-toolbar-tools" layout-align="center">
        Service Settings
    </h1>
</md-toolbar>

<md-content layout-padding layout="row" layout-sm="column">
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="sItem.name" placeholder="Name">
    </md-input-container>

    <md-input-container>
        <label>Parent</label>
        <input type="text" ng-model="sItem.parentServiceunit.name" placeholder="Parent">
    </md-input-container>
</md-content>
