<md-dialog data-ng-controller="UsersCreateController" aria-label="Pop Up User" ng-cloak
           md-theme="core-theme" flex-sm="100" flex-md="100" flex-gt-md="100">

    <!-- Form with Multiples Attributes -->
    <form name="createUserForm" ng-submit="ok()" novalidate>

        <md-toolbar layout="row" class="md-primary md-hue-1">

            <md-button class="md-icon-button md-accent"
                       ng-click="cancel(); answer('not useful')">
                <md-tooltip md-direction="bottom">
                    Back To The List
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary" aria-label="Close Dialog">arrow_back</md-icon>
            </md-button>

            <div layout-padding>
                <md-button ng-click="create(user); cancel(); answer('useful');openBottomSheet()"
                           class="md-fab md-accent md-fab-bottom-left md-raised margButtonFloat md-whiteframe-z3 md-whiteframe-6dp"
                           ng-disabled="createUserForm.$invalid">
                    <md-tooltip md-direction="bottom">
                        Save User
                    </md-tooltip>
                    <md-icon class="material-icons md-36 md-accent">save</md-icon>
                </md-button>
            </div>

            <div layout-padding>
                <md-button ng-click="clearValue()"
                           class="md-fab md-accent md-fab-bottom-right md-raised margButtonFloat md-whiteframe-z3 md-whiteframe-6dp">
                    <md-tooltip md-direction="left">
                        Clear All
                    </md-tooltip>
                    <md-icon class="material-icons md-36 md-accent">clear</md-icon>
                </md-button>
            </div>

        </md-toolbar>


        <md-dialog-content>
            <div layout-gt-sm="row">

                <div class="md-dialog-content" layout-align="center start" flex>
                    <div layout-padding>
                        <md-list>
                            <md-list-item>
                                <img class="md-avatar" ng-src="modules/users/img/avatars/profile.png"/>

                                <h2> New User</h2>
                            </md-list-item>
                        </md-list>

                        <md-divider></md-divider>

                        <md-list>
                            <md-list-item>
                                <p>
                                    Please , fill all the text fields before saving !
                                </p>
                            </md-list-item>
                        </md-list>
                    </div>


                    <md-input-container class="md-accent md-hue-1" aria-label="Country">
                        <div class="md-accent md-hue-1" layout-align="center center">
                            <md-icon class="material-icons md-24 md-accent">terrain</md-icon>

                            <md-select name="country" data-ng-model="user.country" md-on-open="loadCountries()"
                                       required>
                                <div ng-messages="createUserForm.country.$error" ng-show="createUserForm.country.$dirty">
                                    <div ng-message="required">This is required!</div>
                                </div>
                                <md-select-label>{{user.country}}</md-select-label>
                                <md-option ng-repeat="country in countries" ng-value="country.name"> {{country.name}}
                                </md-option>
                            </md-select>
                        </div>

                    </md-input-container>

                </div>


                <div class="md-dialog-content" layout-align="center center" flex>

                    <md-input-container class="md-accent md-hue-1" aria-label="firstName" layout-align="center center">
                        <div class="md-accent md-hue-1">
                            <md-icon class="material-icons md-36 md-accent">account_box</md-icon>
                            <label>Firstname</label>
                            <input type="text" id="firstName" name="myFirstName"
                                   data-ng-model="user.firstName" ng-minlength="2" ng-maxlength="15" required>

                            <div ng-messages="createUserForm.firstName.$error" class="" role="alert">

                                <div ng-if="createUserForm.firstName.$error.required">
                                    <div ng-message-exp="'required'" class="">
                                        This field is empty ! Please, enter a firstname
                                    </div>
                                </div>
                                <div ng-if="createUserForm.firstName.$error.minlength || createUserForm.firstName.$error.maxlength">
                                    <div ng-message-exp="['minlength', 'maxlength']" class="">
                                        Your firstname must be between 2 and 15 characters long
                                    </div>
                                </div>

                            </div>
                        </div>

                    </md-input-container>

                    <md-input-container class="md-accent md-hue-1" aria-label="lastName" layout-align="center center">
                        <div class="md-accent md-hue-1">
                            <md-icon class="material-icons md-36 md-accent">account_box</md-icon>
                            <label>Lastname</label>
                            <input type="text" id="lastName" name="myLastName"
                                   data-ng-model="user.lastName" ng-minlength="2" ng-maxlength="15" required>

                            <div ng-messages="createUserForm.lastName.$error" class="" role="alert">

                                <div ng-if="createUserForm.lastName.$error.required">
                                    <div ng-message-exp="'required'" class="">
                                        This field is empty ! Please, enter a lastname
                                    </div>
                                </div>
                                <div ng-if="createUserForm.lastName.$error.minlength || createUserForm.lastName.$error.maxlength">
                                    <div ng-message-exp="['minlength', 'maxlength']" class="">
                                        Your lastname must be between 2 and 15 characters long
                                    </div>
                                </div>

                            </div>
                        </div>

                    </md-input-container>

                    <md-input-container class="md-accent md-hue-1" aria-label="username" layout-align="center center">
                        <div class="md-accent md-hue-1">
                            <md-icon class="material-icons md-36 md-accent">accessibility</md-icon>
                            <label>Username</label>
                            <input type="text" id="username" name="myUsername"
                                   data-ng-model="user.username" required>
                        </div>

                    </md-input-container>

                    <md-input-container class="md-accent md-hue-1" aria-label="password" layout-align="center center">
                        <div class="md-accent md-hue-1">
                            <md-icon class="material-icons md-36 md-accent">vpn_keys</md-icon>
                            <label>Password</label>
                            <input type="password" id="password" name="myPassword"
                                   data-ng-model="user.password" required>
                        </div>

                    </md-input-container>

                </div>

                <div class="md-dialog-content" layout-align="center end" flex>

                    <md-input-container class="md-accent md-hue-1" aria-label="email" layout-align="center center">
                        <div class="md-accent md-hue-1">
                            <md-icon class="material-icons md-24 md-accent">email</md-icon>
                            <label>Email</label>
                            <input type="text" id="email" name="myEmail"
                                   data-ng-model="user.email" required>
                        </div>

                    </md-input-container>


                    <md-input-container class="md-accent md-hue-1" aria-label="pseudo" layout-align="center center">
                        <div class="md-accent md-hue-1">
                            <md-icon class="material-icons md-24 md-accent">portrait</md-icon>
                            <label>Pseudo</label>
                            <input type="text" id="displayName" name="myDisplayName"
                                   data-ng-model="user.displayName" required>
                        </div>

                    </md-input-container>


                    <md-input-container class="md-accent md-hue-1" aria-label="phone" layout-align="center center">
                        <div class="md-accent md-hue-1">
                            <md-icon class="material-icons md-24 md-accent">phone</md-icon>
                            <label>Phone</label>
                            <input type="text" id="phone" name="myPhone"
                                   data-ng-model="user.phone" required>
                        </div>

                    </md-input-container>


                    <md-input-container class="md-accent md-hue-1" aria-label="location" layout-align="center center">
                        <div class="md-accent md-hue-1">
                            <md-icon class="material-icons md-24 md-accent">my_location</md-icon>
                            <label>Location</label>
                            <input type="text" id="location" name="myLocation"
                                   data-ng-model="user.location" required>
                        </div>

                    </md-input-container>

                </div>
            </div>
        </md-dialog-content>

    </form>
</md-dialog>