<section data-ng-controller="UsersController as usersCtrl" class="container">
    <div class="page-header text-color-white">
        <h1>Users List</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <button type="button" class="btn btn-success text-center" ng-click="usersCtrl.modalCreate('lg')">
                <i class="glyphicon glyphicon-plus"></i>
                Create New User
            </button>
        </div>
    </div>
    </br>
    </br>

    <dir-user-list info="usersCtrl.users" filter="searchText"></dir-user-list>

</section>