<div data-ng-controller="UsersController as usersCtrl" ng-cloak md-theme="user-theme">

    <md-toolbar layout="row" class="md-primary md-hue-3">


        <md-button class="md-fab md-fab-bottom-left md-accent md-raised margButtonFloat md-whiteframe-z3 md-whiteframe-6dp"
                   ng-click="showModalCreateUser($event, user)">
            <md-tooltip md-direction="right">
                Add User
            </md-tooltip>
            <md-icon class="material-icons md-36" aria-label="add">add</md-icon>
        </md-button>

    </md-toolbar>

    <form name="searchForm">
        <div class="md-dialog-content" layout-align="center center" flex>
            <md-input-container class="md-accent" aria-label="Search" layout="row" layout-sm="column"
                                                                 layout-align="center center">
            <md-button class="md-accent">
                <md-icon class="material-icons md-48">search</md-icon>
            </md-button>

            <label for="searchInput"></label>
            <input id="searchInput" placeholder="Search.." type="text" ng-model="searchText"
                   md-autofocus>
        </md-input-container>
        </div>
    </form>


    <md-content class="md-padding">
        <dir-user-list info="usersCtrl.users" filter="searchText"></dir-user-list>
    </md-content>

</div>