<div data-ng-controller="UsersController as usersCtrl" ng-cloak md-theme="core-theme">

    <md-toolbar class="md-primary" layout="row" layout-align="start start">

        <div layout-padding>
            <md-tooltip md-direction="bottom">
                Add User
            </md-tooltip>
            <md-button class="md-fab md-accent md-mini" ng-click="usersCtrl.modalCreate('lg')">
                <md-icon class="material-icons md-24 md-primary" aria-label="add">add</md-icon>
            </md-button>
        </div>

        <div layout-padding>
            <form name="searchForm" layout-padding>

                <md-input-container class="md-primary md-hue-1" aria-label="Search" layout="row"
                                    layout-align="center center">
                    <i class="material-icons md-36 md-primary">search</i>
                    <label for="searchInput"></label>
                    <input id="searchInput" placeholder="Search.." type="text" ng-model="searchText"
                           md-autofocus>
                </md-input-container>

            </form>
        </div>

    </md-toolbar>

    <md-content class="md-padding">
        <dir-user-list info="usersCtrl.users" filter="searchText"></dir-user-list>
    </md-content>

</div>