<div data-ng-controller="UsersController as usersCtrl" ng-cloak md-theme="user-theme">
    <md-content class="md-padding" layout-padding>
        <md-grid-list
                md-cols-sm="1" md-cols-md="2" md-cols-gt-md="5"
                md-row-height-gt-md="2:2" md-row-height="2:2"
                md-gutter="12px" md-gutter-gt-sm="16px">

            <md-grid-tile class="md-primary md-whiteframe-4dp"
                          md-rowspan="1" md-colspan="1" md-colspan-sm="1"
                          data-ng-repeat="user in usersList | filter:searchText">

                <md-grid-tile-header>
                    <md-list>
                        <md-list-item layout="row" layout-align="center center">
                            <img class="md-avatar" ng-src="modules/users/img/avatars/profile.png"/>

                            <h3>{{user.firstName}} {{user.lastName}}</h3>
                        </md-list-item>
                    </md-list>
                </md-grid-tile-header>
                <md-list>

                    <md-list-item layout="row" layout-align="center center">
                        <p data-ng-bind="user.created | date:'medium'" layout="row" layout-align="center center"></p>
                    </md-list-item>
                    <br>
                    <md-divider></md-divider>
                    <br>
                    <md-list-item layout="row" layout-align="center center">
                        <dir-up-user ng-click="showModalUser($event, user)" bus="user"></dir-up-user>
                        <dir-sup-user user="user"></dir-sup-user>
                    </md-list-item>

                </md-list>
            </md-grid-tile>

        </md-grid-list>
    </md-content>
</div>