<div layout-fill md-theme="core-theme" ng-cloak>

    <md-content>
        <md-tabs md-dynamic-height="true" md-border-bottom class="md-accent" md-on-selected="dataNav.selectedIndex"
                 md-align-tabs="{{dataNav.bottom ? 'bottom' : 'top'}}" flex="100" >

            <md-tab id="tab1" ng-disabled="dataNav.petalsLocked">

                <md-tab-label class="md-primary">
                    <md-tooltip md-direction="bottom">
                        Petals Tree View
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary">{{ dataNav.petalsIcon }}</md-icon>
                    <label>
                        {{ dataNav.petalsLabel }}
                    </label>
                </md-tab-label>

                <md-tab-body ng-show="tab==1" flex="40">
                    <tmpl-sidenav></tmpl-sidenav>
                </md-tab-body>

            </md-tab>

            <md-tab id="tab2" ng-disabled="dataNav.serviceLocked">
                <md-tab-label>
                    <md-tooltip md-direction="bottom">
                        Service Tree View
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary">{{ dataNav.serviceIcon }}</md-icon>
                    <label>
                        {{ dataNav.serviceLabel }}
                    </label>
                </md-tab-label>

            </md-tab>

            <md-tab id="tab3" ng-disabled="dataNav.apiLocked">
                <md-tab-label>
                    <md-tooltip md-direction="bottom">
                        API Tree View
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary">{{ dataNav.apiIcon }}</md-icon>
                    <label>
                        {{ dataNav.apiLabel }}
                    </label>
                </md-tab-label>

            </md-tab>

    </md-content>
</div>
