    <md-content md-theme="core-theme" ng-cloak>
        <div layout-fill>
        <md-tabs layout-fill md-border-bottom class="md-accent" md-selected="dataNav.selectedIndex"
                 md-align-tabs="{{dataNav.bottom ? 'bottom' : 'top'}}">

            <md-tab flex layout-fill id="tab1" ng-disabled="dataNav.petalsLocked">

                <md-tab-label class="md-primary">
                    <md-icon class="material-icons md-24 md-primary">{{ dataNav.petalsIcon }}</md-icon>
                    <label>
                        {{ dataNav.petalsLabel }}
                    </label>
                </md-tab-label>

            </md-tab>

            <md-tab flex layout-fill id="tab2" ng-disabled="dataNav.serviceLocked">
                <md-tab-label>
                    <md-icon class="material-icons md-24 md-primary">{{ dataNav.serviceIcon }}</md-icon>
                    <label>
                        {{ dataNav.serviceLabel }}
                    </label>
                </md-tab-label>

            </md-tab>

            <md-tab flex layout-fill id="tab3" ng-disabled="dataNav.apiLocked">
                <md-tab-label>
                    <md-icon class="material-icons md-24 md-primary">{{ dataNav.apiIcon }}</md-icon>
                    <label>
                        {{ dataNav.apiLabel }}
                    </label>
                </md-tab-label>

            </md-tab>
        </md-tabs>
        </div>
    </md-content>

    <md-content layout-fill flex>
        <div layout-fill class="fixHeightVertival">
            <tmpl-sidenav></tmpl-sidenav>
        </div>
    </md-content>
