<h1>Test</h1>



<!--
<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="lockLeft && $mdMedia('gt-md')"
            md-theme="sidenav-theme" flex>

    <md-toolbar class="md-accent">

        <div class="md-toolbar-tools md-primary md-hue-2">

            <h1 class="md-toolbar-tools">
                <md-icon class="material-icons md-24 md-primary" aria-label="Folder">folder</md-icon>
            </h1>
            <md-button class="md-icon-button md-primary md-24"
                       ng-click="toggleRight();"
                       ng-hide="isOpenRight()">
                <md-tooltip md-direction="bottom">
                    Menu Workspace
                </md-tooltip>
                <md-icon class="material-icons md-24 md-primary" aria-label="Open Menu">more_vert</md-icon>
            </md-button>
        </div>

    </md-toolbar>


    &lt;!&ndash; Nav Tree Components &ndash;&gt;
    <md-content layout-fill flex>

        <div md-theme="sidenav-theme" layout-fill ng-cloak>

            <md-tabs md-dynamic-height="true" class="md-accent" md-on-selected="dataNav.selectedIndex"
                     md-align-tabs="{{dataNav.bottom ? 'bottom' : 'top'}}" flex-auto="">

                <md-tab id="tab1" ng-disabled="dataNav.view1Locked">

                    <md-tab-label class="md-primary">
                        &lt;!&ndash;                <md-tooltip md-direction="top">
                                            Nav 1
                                        </md-tooltip>&ndash;&gt;
                        <md-icon class="material-icons md-24 md-primary">{{ dataNav.view1Icon }}</md-icon>
                        <label hide-sm>
                            {{ dataNav.view1Label }}
                        </label>
                    </md-tab-label>

                    <md-tab-body ng-show="tab==1">
&lt;!&ndash;                        <petals-tree components="component"></petals-tree>&ndash;&gt;
                        <div petals-view></div>
                    </md-tab-body>

                </md-tab>

                <md-tab id="tab2" ng-disabled="dataNav.view2Locked">
                    <md-tab-label>
                        &lt;!&ndash;                <md-tooltip md-direction="top">
                                            Nav 2
                                        </md-tooltip>&ndash;&gt;
                        <md-icon class="material-icons md-24 md-primary">{{ dataNav.view2Icon }}</md-icon>
                        <label hide-sm>
                            {{ dataNav.view2Label }}
                        </label>
                    </md-tab-label>
                    &lt;!&ndash;            <md-tab-body ng-show="tab==1">

                                </md-tab-body>&ndash;&gt;
                </md-tab>

                &lt;!&ndash;        <md-tab id="tab3" ng-disabled="dataNav.view3Locked">
                            <md-tab-label>
                                <md-tooltip md-direction="top">
                                    Nav 3
                                </md-tooltip>
                                <md-icon class="material-icons md-24 md-primary">{{ dataNav.view3Icon }}</md-icon>
                                <label hide-sm>
                                    {{ dataNav.view3Label }}
                                </label>
                            </md-tab-label>
                &lt;!&ndash;            <md-tab-body ng-show="tab==3">

                            </md-tab-body>&ndash;&gt;
                        </md-tab>&ndash;&gt;

        </div>

    </md-content>

    &lt;!&ndash; Nav Menu Workspace &ndash;&gt;
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-theme="core-theme" flex>

        <md-toolbar class="md-accent">
            <h2 class="md-toolbar-tools"><span flex>MENU</span>
                <md-icon class="material-icons md-24 md-primary" aria-label="Folder">folder</md-icon>
                <md-button class="md-icon-button md-primary md-24"
                           ng-click="close()">
                    <md-tooltip md-direction="bottom">
                        Back
                    </md-tooltip>
                    <md-icon class="material-icons md-24 md-primary" aria-label="Close Menu">close</md-icon>
                </md-button>
            </h2>
        </md-toolbar>

    </md-sidenav>

</md-sidenav>


-->



