<div layout-fill md-theme="sidenav-theme" ng-cloak style="padding-top: 16px;">

    <div class="petalsBackground ">
        <md-button class="md-accent md-raised customBtnSidenav md-shadow-bottom-z-2" aria-label="add new bus"
                   ng-click="vmPetals.addTreeComponent(vmPetals.data)">
            <md-icon class="material-icons md-accent" aria-label="Add" md-svg-icon="mdicons:plus"></md-icon>
            ADD NEW BUS
            <md-tooltip md-direction="bottom">Add New Bus</md-tooltip>
        </md-button>
    </div>

    <div class="tree">
        <ol>
            <li tmpl-tree="child in vmPetals.data.children at ol" ng-class="{minimized:(child.display=='minimized')}">

                <div layout="row">
                    <span ng-click="vmPetals.toggleMinimized(child)"
                             ng-switch on="child.display">
                        <span ng-switch-when="empty">
                            <md-icon class="material-icons md-18 md-accent md-raised treeIcon"
                                     md-svg-icon="mdicons:subdirectory-arrow-right"></md-icon>
                        </span>
                        <span ng-switch-when="minimized">
                            <md-icon class="material-icons md-18 md-accent md-raised treeIcon"
                                     md-svg-icon="mdicons:folder-plus"></md-icon>
                        </span>
                        <span ng-switch-default>
                            <md-icon class="material-icons md-18 md-accent md-raised treeIcon"
                                     md-svg-icon="mdicons:folder-outline"></md-icon>
                        </span>
                    </span>
                    <md-icon class="material-icons md-18 md-primary treeIcon"
                             md-svg-icon="mdicons:{{child.typeData.type.icon}}">
                    </md-icon>


                    <md-button class="md-primary menuBtnTree" ng-click="vmPetals.gotoComponentState(child)"
                               ng-class="{'md-raised': child.selected}"> {{ child.name }}
                    </md-button>

                    <span flex></span>
                    <div>
                        <md-icon title="Add" class="material-icons md-accent md-raised treeIcon"
                                 ng-click="vmPetals.addTreeComponent(child)"
                                 ng-hide="!(child.mayAddSubComponent) || !(child.selected === true)
                                          || (child.display==='minimized')"
                                 md-svg-icon="mdicons:plus-box">
                        </md-icon>
                    </div>
                    <div md-theme="iconTree-theme">
                        <md-icon title="Delete" class="material-icons md-accent treeIcon"
                                 ng-click="vmPetals.deleteTreeComponent(child)"
                                 ng-hide="!(child.selected === true)"
                                 md-svg-icon="mdicons:delete-forever">
                        </md-icon>
                    </div>
                    <div md-theme="iconTree-theme">
                        <md-icon title="Edit" class="material-icons md-primary treeIcon"
                                 ng-click="vmPetals.changeTitle(child)"
                                 ng-hide="!(child.selected === true)"
                                 md-svg-icon="mdicons:border-color">
                        </md-icon>
                    </div>
                    <div>
                        <md-icon title="Move up" class="material-icons md-primary treeIcon"
                                 ng-click="vmPetals.moveUp(child)"
                                 ng-hide="!(child.selected === true)"
                                 md-svg-icon="mdicons:arrow-up-bold">
                        </md-icon>
                    </div>
                    <div>
                        <md-icon title="Move down" class="material-icons md-primary treeIcon"
                                 ng-click="vmPetals.moveDown(child)"
                                 ng-hide="!(child.selected === true)"
                                 md-svg-icon="mdicons:arrow-down-bold">
                        </md-icon>
                    </div>
                </div>
                <ol ng-class="{pregnant:child.children.length}"></ol>
            </li>
        </ol>
    </div>

</div>
