/* =======================================================================
    Petals Module Styles
======================================================================= */
.menuBtnTree {
    min-height: 24px;
    line-height: 24px;
    margin: -2px 2px;
    min-width: 40px;
    font-size: 16px;
}

.treeIcon {
    min-height: 18px;
    line-height: 18px;
    margin: 0 1px;
    min-width: 10px;
    font-size: 18px;
    cursor: pointer;
}

.md-dialog {
    min-width: 500px;
}
* {
    box-sizing: border-box
}
.tree ol {
    border: 0 none transparent;
    margin: 0 0;
    padding: 0;
}
.tree li {
    list-style:none;
    margin: 5px 0;
    padding: 0 0 0 12px;
}
.ui-sortable li {
    cursor: move;
}

.pregnant {
    margin-top: 0;
    margin-bottom: 0;
}

.minimized > ol > li { display:none; }
.minimized > ol {   border: 0 none transparent; }

#wrapper{
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #f3f6fe;
}
/*
md-toolbar.md-sidenav-theme-theme:not(.md-menu-toolbar) {
    background-color: rgb(69,39,160);
    color: rgba(255,255,255,0.87);
    margin-top: -16px;
}*/

.md-button.md-sidenav-theme-theme.customBtnSidenav {
    width: 100%;
    height: 100%;
    padding: 2px;
    margin: 0;
    background-color: #CAD1FE;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgba(69, 39, 160, 0.5) !important;
}

md-toolbar.md-core-theme-theme:not(.md-menu-toolbar) {
    background-color: #a6a6f4;
    color: rgba(0,0,0,0.87);
}

md-toolbar.md-core-theme-theme:not(.md-menu-toolbar) md-icon {
    color: rgba(69, 39, 160, 1);
    fill: rgba(69, 39, 160, 1);
}

md-toolbar.md-core-theme-theme:not(.md-menu-toolbar) md-icon.iconMenuColorPurple {
    color: rgba(69, 39, 160, 1);
    fill: rgba(69, 39, 160, 1);
}

md-toolbar.md-core-theme-theme:not(.md-menu-toolbar) md-icon.iconMenuColorOrange {
    color: rgb(255, 109, 0);
    fill: rgb(255, 109, 0);
}
