<md-dialog aria-label="Rename Branch" md-theme="petals-theme" md-whiteframe-32dp class="md-dialog" ng-cloak>
    <form name="myFormChangeName">
        <md-toolbar layout-align="center center">
            <h1 class="md-title md-accent" style="font-weight: bold; font-size: larger;">
                <md-icon class="md-36 md-accent" aria-label="add">edit</md-icon>
                Change Name of "{{ title }}"
            </h1>
        </md-toolbar>

        <md-content layout-padding layout="row">
            <div layout="row" layout-sm="column" layout-align="center center" flex>
                <md-input-container class="md-accent md-hue-1">
                    <label>Enter a new Name</label>
                    <input type="text" style="font-size: 28px;" ng-model="formChildData.title"
                           placeholder="Please, Enter a new name..">
                </md-input-container>
            </div>
        </md-content>

        <md-content layout-padding layout="row">
            <div layout="row" layout-align=" end center" flex>
                <md-button ng-click="closeDialog()"
                           class="md-accent md-whiteframe-z3 md-whiteframe-6dp" layout-align="center end">
                    Cancel
                </md-button>
                <md-button ng-click="validDialog(formChildData);"
                           class="md-accent md-raised md-whiteframe-z3 md-whiteframe-6dp"
                           ng-disabled="myFormChangeName.$invalid" layout-align="center end">
                    Change Name
                </md-button>
            </div>
        </md-content>

    </form>
</md-dialog>
